<!DOCTYPE html>
<html lang="en">
 <%-include('layouts/header.ejs') %>
  <body>
  
       <%- include('layouts/navbar.ejs') %>
    <!--this is the a javascript code-->
    <style>
      body {
        /* background-color: black;
        background-size: cover;
        background-position: center; */
        height: 100vh;
        font-size: 17px;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
      }
    </style>
    <style>
      #predict1 {
        background-color: white;
        font-weight: 500;
        flex-direction: column;
      }
    </style>

    <div id="predict1">
      <h3>
        Live soccer tipsss is the best predition site we are sure of your winnings
      </h3>
      <h3>Live soccer tipsss offers the best football predications/basketball</h3>
      <h3>
        If you need to contact us in writing you can contact us through our
        email or reach out to our phonelines
      </h3>
    </div>
    <div id="smart1">
      <h3>Betting is a popular trend in the world of football</h3>
      <h3>
        Although it could turn out to be a risky task but when done sensibly it
        could be fun and intriguing.
      </h3>
      <h3>
        But how do you make the most out of your bets? Subcribe to live socccer
        tips today and join our winning team
      </h3>
    </div>
    <a href="index.html">Go to home page</a>
    <br /><br />
    <a href="Create.html">Register for free</a>
    <br /><br />
    <a href="Sign.html">Login</a>
    <style>
      #smart1 {
        background-color: cadetblue;
        font-weight: 400;
        bottom: 50vh;
      }
    </style>
    <footer class="renew">
      <p>Follow us on our social media handle for more information</p>
      <h3>instagram @Livescoretipsss</h3>
    </footer>
    <style>
      .renew {
        background-color: white;
      }
    </style>
  </body>
</html>
