<!DOCTYPE html>
<html lang="en">
  <%-include('layouts/header.ejs') %>
 <body>
  <%- include('layouts/navbar.ejs') %>
   <style>
      body{
         margin: 0;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         line-height: 1.6;
         font-size: 17px;
         height: 100vh;
         background: white;
      }
   </style>
    <div class="hero">
       <fieldset>
      <h1>24 hours Customer support</h1>
      <a href="tel:+23481156273">Call us at +23481156273</a>
      <br>

      <a href="Livesoccertipss@gmail.com">Livesoccertipss@gmail.com</a>
      <style>
    
         .hero{
            background-size: cover;
            background-position: center;
            height: 100vh;
         }
      </style>
      <br><br>
      <a href="index.html">Homepage</a>


    
</div>

     

    
</body>
</html>