<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Soccer Tips</title>
    <link rel="stylesheet" href="../css/style.css">
 </head>

 <header>
      <div class="logo">Live soccertips</div>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav class="nav-bar">
        <ul>
          <!--Everything about the link check css for changes-->
          <li>
            <a href="/create" class="active">Create account</a>
          </li>
          <li>
            <a href="/sign">Sign in</a>
          </li>
          <li>
            <a href="/About">About us</a>
          </li>
          <li>
            <a href="/Contact">Contact us</a>
          </li>
          <li>
            <a href="/Terms">Terms and condtions</a>
          </li>
        </ul>
      </nav>
    </header>
    <!--this is the a javascript code-->
   
 <body>
   <style>
      body{
         margin: 0;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         line-height: 1.6;
         font-size: 17px;
         height: 100vh;
         background: white;
      }
   </style>
    <div class="hero">
       <fieldset>
      <h1>24 hours Customer support</h1>
      <a href="tel:+23481156273">Call us at +23481156273</a>
      <br>

      <a href="Livesoccertipss@gmail.com">Livesoccertipss@gmail.com</a>

      <br><br>
      <a href="/">Homepage</a>
  
      <style>

        

      </style>

    
</div>

     
<script src="index.js"></script>
    
</body>
</html>