
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>Live Soccer Tips</title>
    </head>
    <body>  
<body>
    
    <style>
            body{
                margin: 0px;
                padding: 0px;
                background: dodgerblue;
                background-size: cover;
                background-position: center;
                font-family: sans-serif
                
            }
        </style> 
        
            </head>
        
    
                <div class="Signinbox">
                    <img src="lightsup.jpg" class="football">
                    <h1>Create Account</h1>
                    <form action="/auth/register" method="POST"> 
                        <p>Email</p>
                     <input type="email" placeholder="Email" required />
                        <p>First name</p>
                        <input type="text" name="firstName" placeholder="First name" required />
                        <p>Last name</p>
                        <input type="text" name="lastName" placeholder="Last name" required />
                       <p>Password</p>
                      <input type="password" name="password" placeholder="Enter password" id="password" required  />
                      <img src="eye-close.png" id="eyeicon">
                        <a href="/Pay">    
                        <input type="submit" />
                    </a>
                    <a href="/sign">Already have an account sign in</a>
                         <br>
                        <a href="/">Back to homepage</a>
                    </div>
                 </form>


                </div>
                
            
      
     
            
    <script src="../js/index.js"></script>
    </body>

    </head>
</html>
   
    

