<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">7/26/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Latvia-Virsliga</h6>
        <h3>Fk Metta/Lu vs Fk Liepaja-x2</h3>
        <h6>Russia-Russian Cup</h6>
        <h3>FC Fakel Voronezh vs FK Sochi-over1.5</h3>
        <h6>INT-Clubs Europa Conference League</h6>
        <h3>FK Rigas Futbola Skola vs Sabah Masazir-1x</h3>
        <a href="https://www.sportybet.com/?shareCode=7E0FBB0C&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>INT-Clubs Friendly</h6>
          <h3>Rangers vs Olympiacos-1x</h3>
          <h6>INT-Clubs Uefa Champions League</h6>
          <h3>Kl klaksvik vs Hacken Gothenburg-over1.5</h3>
          <h6>Finland-Kakkonen,Group A</h6>
          <h3>Lahden Reipas vs HJK Klubi 04</h3>
          <a href="https://www.sportybet.com/?shareCode=1391B7FA&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
            <h6>INT-Clubs-Uefa Champions League</h6>
         <h3>FC Sheriff vs Maccabi Haifa FC-OVER1.5</h3>
         <h6>Russia-Russian Cup</h6>
         <h3>FC Orenburg vs CSKA Moscow-12</h3>
         <h6>INT-Club-Uefa Europa Conference League</h6>
         <h3>Fc Struga Trim Lum vs FK Buducnost-12</h3>
         <a href="https://www.sportybet.com/?shareCode=6FDC42EC&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  