<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/28/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>England Amateur - Premier League 2</h6>
        <h3>Crystal Palace FC vs Fulham FC-over 2.5</h3>
        <h6>Italy - Serie A</h6>
        <h3> Cagliari vs Inter over-1.5</h3> 
        <h6>Thailand - Thai League 1</h6>
        <h3>Muang Thong United vs Port Fc-Over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=AAC649CB&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Saudi Arabia - Saudi Pro League</h6>
            <h3>Al-Hilal Saudi FC vs Al-Ittifaq FC-Over 2.5</h3>
            <h6>Saudi Arabia - Saudi Pro League</h6>
            <h3>Al-Wehda FC vs Al-Ittihad FC-Over 1.5</h3>
            <h6>Wales - Cymru Championship South</h6>
            <h3>Cambrian & Clydach Vale vs Afan Lido-Over 1.5</h3>
            <a href="https://www.sportybet.com/?shareCode=B192B1A&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Bulgaria - Second Prof. League</h6>
         <h3>FK Septemvri Sofia vs PFC Chernomorets Burgas-Home win</h3>
         <h6>Denmark - Superliga</6>
         <h3> Vejle BK vs Broendby IF</h3>
         <h6>England Amateur - Premier League 2</h6>
         <h3>Nottingham Forest FC vs Arsenal FC Over 2.5</h3>
         <a href="https://www.sportybet.com/?shareCode=3975BBF6&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Cyprus - 1st Division </h6>
        <h3>Aris Limassol FC vs Doxa Katokopias-First half over 0.5</h3>
        <h6>Germany Amateur - Regionalliga West</h6>
        <h3> SC Paderborn 07 II vs 1. FC Bocholt-Over 1.5</h3>
        <h6>Lithuania - 1 Lyga</h6>
        <h3>  FK Panevezys B vs Kedainiai Nevezis-12</h3>
        <a href="https://www.sportybet.com/?shareCode=3A2526C3&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Lithuania - 1 Lyga</h6>
        <h3> vs Vilnius FK Zalgiris B vs Be1 Nfa- 12</h3>
        <h6>Sweden - Allsvenskan</h6>
        <h3> AIK vs Varbergs BoIS-Home win</h3>
        <h6>Ukraine - Persha Liga</h6>
        <h3> FSK Mariupol vs FC Ingulets Petrove-Over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=CEA92D7A&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Saudi Arabia - Saudi Pro League</h6>
        <h3> Al-Raed Club vs Al-Riyadh-Away team over 0.5</h3>
        <h6>Turkiye - 1. Lig</h6>
        <h3>Giresunspor vs Bandirmaspor-Away team win either half</h3>
        <h6>Portugal - Liga Portugal</h6>
        <h3>Rio Ave FC vs Porto-Away win</h3>
        <a href="https://www.sportybet.com/?shareCode=6DBDD32DB&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Sweden - Allsvenskan</h6>
        <h3>IK Sirius vs Malmo-Away win</h3>
        <h6>Wales - Cymru Championship, North</h6>
        <h3>Airbus UK Broughton vs Llandudno FC- Home win</h3>
        <h6>----</h6>
        <h3>-----</h3>
        <a href="https://www.sportybet.com/?shareCode=D33571EC3&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  