<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">11/5/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Sapin-Laliga</h6>
        <h3>Real Madrid vs Rayo Vallecano-Home Win</h3>
        <h6>England-Premier League</h6>
        <h3>Nottingham vs Aston Villa-Away Team to Win Either Half</h3> 
        <h6>Andorra-Primera Divisio</h6>
        <h3>FC Pas de La Casa vs FC Santa Coloma-Over 1.5</h3>
        <h6>Denmark-Superliga</h6>
        <h3>Nordsjaelland vs Vejle BK-1st Half Over 0.5</h3>
        <h6>Czech Republic-1.Liga</h6>
        <h3>Slavia Prague vs Viktoria Plzen-Home Win</h3>
        <a href="https://www.sportybet.com/?shareCode=8DEB37E4&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>England-Premier League</h6>
            <h3>Luton vs Liverpool-Over 2.5</h3>
            <h6>France-Ligue 1</h6>
            <h3>Nice vs Rennes-Home Team Over 0.5</h3> 
            <h6>Italy-Serie A</h6>
            <h3>Roma vs Lecce-Home Win</h3>
            <h6>Hungary-NB I<6>
            <h3>Paksi FC vs MTK Budapest-Home Win</h3>
            <a href="https://www.sportybet.com/?shareCode=5CD5DF4C&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>Turkiye Amateur-2.Lig</h6>
        <h3>68 Aksaray Belediyespor vs Kastamonuspor-Away Team 0ver 0.5</h3>
        <h6>Denmark-2nd Division</h6>
        <h3>BK Fremad Amager vs Esbjerg FB-Away Win</h3> 
        <h6>Netherlands-Eredivisie</h6>
        <h3>FC Utrecht vs FC Twente Enschede-Away Win</h3>
        <h6>Serbia-Prva Liga</h6>
        <h3>OFK Belgrade vs FK Macva Sabac-Home Win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=C36744E&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Jordan-Jordan 1st Division</h6>
            <h3>Al Baqaa vs AL Sareeh-Over 1.5</h3>
            <h6>Lithuania-A Lyga</h6>
            <h3>Dfk Dainava Alytus vs FK Panevezys-Away Win</h3> 
            <h6>Luxembourg-Division Nationale</h6>
            <h3>Swift Hesperange vs FC Differdange 03-Away Team Over 0.5</h3>
            <h6>Moldova-Super Liga</h6>
            <h3>Sheriff Tiraspol vs FC Milsami-Over 2.5</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=273D2D2E&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>

        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3> 
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  