<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">11/27/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        
        <h6>Spain-Laliga</h6>
        <h3>Girona vs Athletic Bilbao-1x</h3>
        <h6>INT-Clubs AFC Champions League</h6>
        <h3>Al Nassr vs Persepolis FC-Home Win</h3>
        <h6>Jordan-Jordan 1st Division</h6>
        <h3>Sama vs Al Sareeh-Away Win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=4D548403&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>Switzerland-Challenge League</h6>
            <h3>FC Aarau vs FC Sion-Away Team to Wib Either Half</h3>
            <h6>India-l-League</h6>
            <h3>Gokuham Kerala FC vs Churchill Brothers SC-Home Win</h3>
            <h6>Denmark-1,Division</h6>
            <h3>Aalborg vs Hobro IK-Home Win</h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
           
            <a href="https://www.sportybet.com/?shareCode=D4554F5C5 &c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
          <h6>Luxembourg-Division Nationale</h6>
          <h3 style="background-color: green;">FC Victoria Rosport vs FC Differdange 03-Away Team to win Either Half</h3>
          <h6>Spain-Laliga</h6>
          <h3 style="background-color: green;">Cadiz vs Real Madrid-Away Win</h3> 
          <h6>Norway-Eliteserien</h6>
          <h3 style="background-color: green;">SK Brann vs Bodoe/Glimt-Away Team over 0.5</h3>
          <h6></h6>
          <h3></h3>
          <h6></h6>
          <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=06D44ED2&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Belgium-Pro League</h6>
            <h3>RSC Anderlecht vs RWD Molenbeek 47-Home Win</h3>
            <h6>England-Premier League</h6>
            <h3>Everton vs Man Utd-X2</h3> 
            <h6>England-Premier League</h6>
            <h3>Tottenham vs Aston Villa-1x</h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=C6560FEA&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>

        <h6></h6> 
        <h3></h3>
        <h6></h6>
        <h3></h3> 
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  