<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/23/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Georgia-Erovnuli Liga 2</h6>
        <h3>FC Gareji Sagarejo vs FC Spaeri-over 2.5</h3>
        <h6>Poland-III Liga, Group 2</h6>
        <h3>Pogon Nowe Skalmierzyce vs Pogon Szczecin II-over 1.5</h3>
        <h6>Poland-III Liga, Group 3</h6>
        <h3>KS Lechia Zielona Gora vs Rekord Bielsko Biala-12</h3>
        <a href="https://www.sportybet.com/?shareCode=A02FF9F1&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Germany-3, Liga</h6>
            <h3>1.FC Saarbrucken vs SC Verl-Home Team to Win Either Half-Yes</h3>
            <h6>Armenia-Premier League</h6>
            <h3>FC Ararat-Armenia vs FC Pyunik Yerevan-over 1.5</h3>
            <h6>Czech Republic-Cup</h6>
            <h3>Tj Jiskra Usti Nad Orlici vs Fk Viktoria ZIZKOV-Away Win</h3>
            <a href="https://www.sportybet.com/?shareCode=28DB81D8&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Bosnia & Herzegovina-Prva Liga, Fed BiH</h6>
         <h3>NK Zvijezda Gradacac vs HNK Tomislav Tomislavgrad-Home Team Clean Sheet-NO</h3>
         <h6>Finland-Suomen Cup</h6>
         <h3>FC Honka vs IFK Mariehamn-over 1.5</h3>
         <h6>Germany Amateur-A-Junioren-Bundesliga West</h6>
         <h3>FC Schalke 04 vs Vfl Bochum-over 1.5</h3>
         <a href="https://www.sportybet.com/?shareCode=5AA52A69&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Germany Amateur-A-Junioren-Bundesliga West</h6>
        <h3>Bayer 04 Leverkusen vs SC Verl-Away Team over 0.5</h3>
        <h6>INT-Clubs Uefa Champions League</h6>
        <h3>Braga vs Panathinaikos Athens-Home win</h3>
        <h6>-----</h6>
        <h3>-----</h3>
        <a href="https://www.sportybet.com/?shareCode=688433C0F&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>INT-Clubs-Uefa Champions League</h6>
        <h3>Maccabi Haifa FC vs Young Boys Bern-Home Team over 0.5</h3>
        <h6>INT-Clubs Uefa Europa Conference League</h6>
        <h3>Hibernian FC vs Aston Villa-Away win</h3>
        <h6>Iran-Pro League</h6>
        <h3>Foolad Mobarakeh Sepahan SC vs Esteghlal-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=E0B4CC2D&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Sweden-Svenska Cup</h6>
        <h3>IF Franke vs Skovde Aik-Home Team over 0.5</h3>
        <h6>Scotland-Premier League 1.Women</h6>
        <h3>Montrose FC Aberdeen LFC-Away win</h3>
        <h6>------</h6>
        <h3>-------</h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Portugal-U23 Liga Revelcao</h6>
        <h3>Torreense U23 vs FC Famalicao-Away win</h3>
        <h6>North Mecedonia-.MFL</h6>
        <h3>Shkendija Tetovo vs Bregalnica Stip-Home win</h3>
        <h6>----</h6>
        <h3>----</h3>
        <a href="https://www.sportybet.com/?shareCode=AD025302&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  