<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/8/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Australia-South Australia NPL</h6>
        <h3>Modbury Jets SC vs Adelaide United FC-0ver 2.5</h3>
        <h6>Australia-Queensland NPL</h6>
        <h3 style="background-color: green;">Gold Coast Knights vs Peninsula Power FC-over 2.5</h3> 
        <h6>Austria Amateur-Regionaliga East</h6>
        <h3 style="background-color: green;">ASV Drassburg vs Favouritner AC-over 2.5</h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=2FF1F53C&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Denmark-3rd Division</h6>
            <h3>Young Boys FD Sikeborg vs Naesby BK-12</h3>
            <h6>Denmark-2nd Division</h6>
            <h3>FC Roskiide vs AB Gladsaxe-over 2.5</h3>
            <h6>Denmark-2nd Division</h6>
            <h3>FA 2000 vs HIK Hellerup-1x</h3>
            <h6>Denmark Amateur-Dammarksserien</h6>
            <h3>Goerslev IF vs Taarnby FF-X2</h3>
            <a href="https://www.sportybet.com/?shareCode=379A1C19&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>INT-Uefa Euro Qualifications</h6>
         <h3>Georgia vs Spain-Away win</h3>
         <h6>INT-Uefa Euro Qualifications</6>
         <h3>Slovakia vs Portugal-Away Win</h3>
         <h6>INT-Uefa Euro Qualifications</h6>
         <h3>Turkiye vs Armenia-over 2.5</h3>
         <h6>INT-Uefa Euro Qualifications</h6>
         <h3>Croatia vs Latvia-Handicap 0:4</h3>
         <a href="https://www.sportybet.com/?shareCode=60D89588&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Austria Amateur-Regionaliga west</h6>
            <h3>SC Svhwaz vs SVG Reichenau-1x</h3>
            <h6>Austria Amateur-Regionaliga Centre</h6>
            <h3>ASK Voltsberg vs Junge Wikinger Ried-Home win</h3> 
            <h6>Belguim-Super League Women</h6>
            <h3>FC Femina White Star Woluwe vs KRC Genk-Away Win</h3>
            <h6>Czech Republic-MSFL</h6>
            <h3>sk Hranice vs FK Blansko-12</h3>
            <h6>Czech Republic- CFL</h6>
            <h3>SK Sokol Brozany vs FK Usti nad Labem-1x 1ST HALF</h3>
            <a href="https://www.sportybet.com/?shareCode=4E76DE71&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6>Iceland-3 Delid</h6>
            <h3>Augnablik Kopavogur vs Hviti RiddRIM-over 2.5</h3>
            <h6>INT-Club Friendly Games</h6>
            <h3>SSV Ulm 1846 vs Schalke-over 2.5</h3> 
            <h6>INT-Club Friendly Games</h6>
            <h3 style="background-color: green;">Stuttgart vs FC St.Gallen 1879-1x</h3>
            <h6>Norway-3rd Division Group 3</h6>
            <h3>SK dJERV 1919 vs Viking FK 2-over 2.5</h3>
            <h6>Poland-II Liga</h6>
            <h3>GKS Jastrzebie vs Lech II Poznan-over 1.5</h3>
            <a href="https://www.sportybet.com/?shareCode=D459B7DC&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  