<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">11/17/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        
        <h6>Czech Republic-Cup</h6>
        <h3>Tj Slovan Velvary vs SFC Opava-Home to Qualify</h3>
        <h6>INTERNATIONAL Youth-U17 FIFA World Cup</h6>
        <h3>England vs Brazil-Un4.5</h3>
        <h6>Bahrain-Federation Cup</h6>
        <h3>Al-Shabbab vs East Riffa-x2</h3>
        <h6>INTERNATIONAL-UEFA EURO, Qualifications</h6>
        <h3>Italy vs North Macedonia-Home Win</h3>
        <a href="https://www.sportybet.com/?shareCode=2EE2CC58&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>Slovakia-3.Liga, West</h6>
            <h3>OK Castkovce vs SKF Sered-X2</h3>
            <h6>Croatia-Prva NL</h6>
            <h3>NK Sesvete vs NK Jarun Zagred-Over 1.5</h3>
            <h6>United Arab Emirates-Division 1</h6>
            <h3>Dibba vs Al Dhafra SSC-Over 1.5</h3>
            <h6>International-Fifa World Cup Cup Qualifications CAF</h6>
            <h3>Ghana vs Madagascar-Home Win</h3>
            <h6>INTERNATIONAL-Uefa Euro Qualifications</h6>
            <h3>Moldova vs Albania-Away Win</h3>
           
            <a href="https://www.sportybet.com/?shareCode=34005B4E&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
          <h6>Northen Ireland-Premiership</h6>
          <h3>Larne FC vs Coloraine FC-Home Win</h3>
          <h6>Scotland-Challenge Cup</h6>
         <h3>Falkirk FC vs Dundee United-Home Team</h3> 
         <h6></h6>
         <h3></h3>
         <h6></h6>
         <h3></h3>
         <h6></h6>
         <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=70EFC202&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>INTERNATIONAL BREAK......</h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=07BF573&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>

        <h6></h6> 
        <h3></h3>
        <h6></h6>
        <h3></h3> 
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  