<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">11/10/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Algeria-Ligue2</h6>
        <h3>Olympique Akbou vs Js Bordj Menaiel-Over 1.5</h3>
        <h6>Algeria-Ligue2</h6>
        <h3>Paradou AC vs MC Oran-Home Win</h3> 
        <h6>Saudi Arabia-Saudi Pro League</h6>
        <h3>Al Hilal SFC vs Al Taawon FC-Over 2.5</h3>
        <h6>Bahrain-Premier League</h6>
        <h3>Al Riffa vs East Riffa-Home Win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=38C18BC1&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>Czech Republic-U19 1ST Division</h6>
            <h3>Dukla Pragueb vs 1 FC Slovacko-Home Win</h3>
            <h6>Romania-Liga 3</h6>
            <h3>ACS Industria Galda vs Cs Gloria 2018 Bistrita-Nasaud-Over 2.5</h3> 
            <h6>Russia-Premier League-Women</h6>
            <h3>Zvesda-2005 Perm vs CSKA Moscow-Over 2.5</h3>
            <h6>Russia-Youth League</h6>
            <h3>Lokomotiv Moscow vs Dinamo Moscow-Home Win</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=273A8AB&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
          <h6>Germany-2nd Bundesliga</h6>
          <h3>FC St. Pauli vs Hannover 96-Home win</h3>
          <h6>Germany Amateur-Women Bundesliga</h6>
        <h3>Eintracht Frankfurt vs Bayer Leverkusen-Home Win</h3> 
        <h6>Denmark-1 Division</h6>
        <h3>HB Koege vs Soenderjyske-Away Win</h3>
        <h6>Germany Amateur-Regionaliga Bavaria</h6>
        <h3>Bayern Munich ll VS FC Wurzburger Kickers-Away win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=C2F2B69&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>FRANCE-NATIONAL</h6>
            <h3>Red Star FC vs Marignana Gignac FC-Home win</h3>
            <h6>Azerbaijan-Premier League</h6>
            <h3>Araz Nakhchivan PFL\K vs FK Kapaz-Over 2.5</h3> 
            <h6>Brazil-U20 Paulista</h6>
            <h3>Ferroviaria SP vs Sao Paulo FC SP-Over 2.5</h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=07BF573&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>

        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3> 
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  