<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">10/24/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>INT-Clubs Uefa Champions League</h6>
        <h3>Galatasaray Instanbu vs Bayern Munich-Home Team Over 0.5</h3>
        <h6>INT-Clubs Uefa Champions League</h6>
        <h3>Inter vs Salzburg-Over 2.5</h3> 
        <h6>INT-Clubs Uefa Champions League</h6>
        <h3>Braga vs Real Madrid-Over 2.5</h3>
        <h6>INT-Clubs Uefa Champions League</h6>
        <h3>Man Utd vs Copenhagen-Home Win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=63039E9&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>INT-Clubs Uefa Champions League</h6>
            <h3>Sevilla vs Arsenal-Handicap 2:0</h3>
            <h6>INT-Clubs-Uefa Champions League</h6>
            <h3>Union Berlin vs Napoli-Over 1.5</h3> 
            <h6>England-Championship</h6>
            <h3>Leicester vs Sunderland AFC-Home Win</h3>
            <h6>INT-Clubs AFC Cup</h6>
            <h3>AL Ittihad Ahli of Aleppo vs Kuwait SC-Away Team to Win Either Half</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=A225FB2&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>INT-Clubs AFC Champions League</h6>
        <h3>Al Ain FC vs Al Fayha FC-Home Team to win Either Half</h3>
        <h6>Poland-Ekstraklasa</h6>
        <h3>KKS Lech Poznan vs Jaglellonia Bialystok-Over 1.5</h3> 
        <h6>INT-Clubs Africa Football League</h6>
        <h3>Mamelodi Sundowns vs Atletico Petroleos de Luanda-Home Team over 2.5</h3>
        <h6>INT-Clubs-AFC Cup</h6>
        <h3>Al Wehdat vs Al Kahrabaa SC-1X</h3>
        <h6>INT-Clubs AFC Champions League</h6>
        <h3>AL Nassr vs Al Duhail SC-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=7B284F4&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>England-Championship</h6>
            <h3>Norwich vs Middlesbrough FC-Away Team Over 0.5</h3>
            <h6>England-League Two</h6>
            <h3>Wrexham AFC vs Sutton United-Home Win</h3> 
            <h6>England Amatuer-National League North</h6>
            <h3>Tamworth FCpro vs Glouchester City-Home Win</h3>
            <h6>INT-Clubs-Uefa Champions League</h6>
            <h3>Lens vs PSV Eindhoven-1X</h3>
            <h6>INT-Clubs AFC Champions League</h6>
            <h3>Ulsan Hyundai FC vs Johor Darul Tazim FC-Over 2.5</h3>
            <a href="https://www.sportybet.com/?shareCode=142075d51&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            
            
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  