<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/12/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Denmark-2nd Division</h6>
        <h3>Aarhus Fremad vs FC Roskilde-0ver1.5</h3>
        <h6>Sweden-Division 2,Norra Gotaland</h6>
        <h3>FBK Karlstad vs Torslanda IK-over2.5</h3>
        <h6>Thailand-Thai League 1</h6>
        <h3>Uthai Thani FC vs Bangkok United-Over1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=909E66B9&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Ukraine-Premier League</h6>
            <h3>FC Chernomorets Odessa vs FC Obolon Kiev-1x</h3>
            <h6>England-Premier League</h6>
            <h3>Arsenal vs Nottingham-Home win</h3>
            <h6>Austria-2 Liga</h6>
            <h3>SV Lafnitz vs FC Dornbirn-1x</h3>
            <a href="https://www.sportybet.com/?shareCode=FBA072D5&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Netherlands-Eredivsie</h6>
         <h3>PSV Eindhoven vs FC Utrecht-Home win</h3>
         <h6>Czech Republic-CFL</h6>
         <h3>Tj jiskra Domazlice vs FK Loko Vltavin-over2.5</h3>
         <h6>-------</h6>
         <h3>------</h3>
         <a href="https://www.sportybet.com/?shareCode=F8ED3694&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Czech Republic-CFL</h6>
        <h3>Tj Sokol Zivanice vs FK Banik Most-sous-12</h3>
        <h6>Denmark-3rd Division</h6>
        <h3>BK Frem vs Vanloese IF-over1.5</h3>
        <h6>Denmark-2nd Division</h6>
        <h3>AB Gladsaxe vs Brabrand IF-over2.5</h3>
        <a href="https://www.sportybet.com/?shareCode=15DDE733&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Spain-Laliga</h6>
        <h3>Athletico Bibao vs Real Madrid-12</h3>
        <h6>France-Ligue 1</h6>
        <h3>PSG vs Lorient-Home win</h3>
        <h6>Azerbaijan-Premier League</h6>
        <h3>Zira FK vs FK Kapaz-Home Team To Win Either Half</h3>
        <a href="https://www.sportybet.com/?shareCode=779AD298&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Bulgaria-Parva Liga</h6>
        <h3>PFC Slavia Sofia vs PFC Cherno More Varna-x2</h3>
        <h6>Czech Republic-FNL</h6>
        <h3>FC Zbrokjov Brno vs MFK Chrudim-over1.5</h3>
        <h6>Denmark Amateur-Danmarksserien-over2.5</h6>
        <h3>BK Skjoid vs Ledoje Smorum Fodbold-over2.5</h3>
        <a href="https://www.sportybet.com/?shareCode=7B13BADA&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Turkiye-SuperLig</h6>
        <h3>Kasimpasa Instanbul vs MKE Ankaragucu-over1.5</h3>
        <h6>Scotland-League 1</h6>
        <h3>Cove Rangers FC vs Falkirk FC-X2</h3>
        <h6>Englad-Premier League</h6>
        <h3>Newcastle vs Aston Villa-over1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=AD0B394B&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  