<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/14/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Algeria-Ligue 1 Reserves</h6>
        <h3>MC Alger vs ES Ben Aknoun-1</h3>
        <h6>Algeria-Ligue 1 Reserves</h6>
        <h3>Js Saoura vs US Biskra-1x</h3> 
        <h6>Norway-3rd Division Group 3</h6>
        <h3>FK Vidar Madia-1</h3>
        <h6>Qatar-OFA Cup</h6>
        <h3>Al Kharaitiyat SC vs AL Waab-1</h3>
        <h6>Denmark-1, Division</h6>
        <h3>HB Koege vs Kolding IF-12</h3>
        <a href="https://www.sportybet.com/?shareCode=375E59A00&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>Saudi Arabia-Division 1</h6>
            <h3>Al Faisaly vs Al Jabalain-1</h3>
            <h6>Brazil-U20 Copa do Brasil</h6>
            <h3>CS Alagoano AL vs EC Bahia BA-over 1.5</h3> 
            <h6>Finland Amateur-3 Division</h6>
            <h3>Esse IK vs KPV/Akatemia-over 2.5</h3>
            <h6>Saudi Arabia-Division 1</h6>
            <h3>Hajer FC vs Jeddah Club-1x</h3>
            <h6>Portugal-U23 Liga Revelacao</h6>
            <h3>Santa Clara U23 Estrela Amadora-x2</h3>
            <a href="https://www.sportybet.com/?shareCode=C9A127A63&c=ng">Bet on sportybet</a
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>Argentina-Copa de la Liga, Reserves</h6>
        <h3>CA Lanus vs Boca Juniors-1x</h3>
        <h6>Argentina-Copa de la Liga, Reserves</h6>
        <h3>Racing Club Avellaneda vs CD Godou Cruz-1</h3> 
        <h6>ISRAEL-ISREAL Cup</h6>
        <h3>Hakaoh Amidar Ramat Gan vs Tzeirey Tira FC-2</h3>
        <h6>Brazil-Copa Rio</h6>
        <h3>Duque de Caxias FC RJ vs AA Portuguesa RJ</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=7B27923F&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=5E20C978&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=306B3606&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6 style="background-color: green;">Your 250 itunes gift card accepted</h6>
            <h3 style="background-color: red;">To withdraw to Please make at least 500 itunes gift card</h3>
            <h6 style="background-color: yellow;">Novation Credit Union</h6>
            <h3>1532640</h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  