<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/10/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Qualification-Group A African Cup Of Nations</h6>
        <h3 style="background-color: green;">Nigeria vs Sao Tome and Principe-1</h3>
        <h6>Qualification-Group B African Cup Of Nations</h6>
        <h3 style="background-color: green;">Togo vs Cape Verde-over 2.5</h3> 
        <h6>Qualification-Group G African Cup Of Nations</h6>
        <h3 style="background-color: green;">Gambia vs Congo-over 1.5</h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Qualifications-Group B Euro 2024</h6>
            <h3 style="background-color: green;">Greece vs Gibraltar-over 2.5</h3>
            <h6>Qualifications-Group B Euro 2024</h6>
            <h3 style="background-color: green;">Ireland vs Netherlands-over 2.5</h3>
            <h6>Qualifications-Group B Euro 2024</h6>
            <h3 style="background-color: green;">Lithuania vs Serbia-over 2.5</h3>
            <h6>Qualifications-Group B Euro 2024</h6>
            <h3 style="background-color: green;">Finland vs Denmark-12</h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>INT-Friendly Games</h6>
         <h3 style="background-color: green;">Mexico vs Australia-over 2.5</h3>
         <h6>INT-Friendly Games</6>
         <h3 style="background-color: green;">Thailand vs Irag-1x</h3>
         <h6>Burundi-Premier League</h6>
         <h3 style="background-color: green;">Bumamuru FC vs Telaviv FC-1</h3>
         <h6>China-League two Promotion Group</h6>
         <h3 style="background-color: green;">Beijing Technology vs Yunnan Yukun-2</h3>
         <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Hello Robert</h6>
            <h3 style="background-color: green;">$600,000</h3>
            <h6 style="background-color: green;">$350,000</h6>
            <h3 style="background-color: green;">$700,000</h3> 
            <h6 style="background-color: green;">$550,000</h6>
            <h3 style="background-color: green;">$260,000</h3>
            <h6 style="background-color: green;">$150,000</h6>
            <h3 style="background-color: green;">$200,000</h3>
            <h6 style="background-color: green;">$210,000</h6>
            <h3 style="background-color: green;">$850,000</h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Claim this with 1,500 itunes gift card</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  