<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/11/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Australia-South Australia NPL</h6>
        <h3>Campbelltown City SC vs Adelaide Olympic FC-over2.5</h3>
        <h6>Australia-South Australia NPL</h6>
        <h3>Modbury Jets SC vs North Eastern Metrostars SC-Away win</h3>
        <h6>Czech Republic-U19 Ist Division</h6>
        <h3>FC Zbrojovka Brno vs FC Viktoria Plzen-Home Team Clean Sheet-NO</h3>
        <a href="https://www.sportybet.com/?shareCode=4EB2103&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Vietnam-V-League</h6>
            <h3>K.Khanh Hoa vs SHB Da Nang-Un3.5</h3>
            <h6>Thailand-Thai League 1</h6>
            <h3>Nakhon Pathom United FC vs Port FC-over1.5</h3>
            <h6>Russia-Youth League</h6>
            <h3>FC Baltika Kaliningrad vs Lokomotiv Moscow-Away win</h3>
            <a href="https://www.sportybet.com/?shareCode=D861C746&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Armenia-Premier League</h6>
         <h3>FC Shirak Gyumri vs FC BKMA Yerevan-1x</h3>
         <h6>Russia-Premier League</h6>
         <h3>FK Ural Yekaterinburg vs FK Spartak Moscow-x2</h3>
         <h6>Uzbekistan-Superliga</h6>
         <h3>FK Agmk vs FC Olimpik-over1.5</h3>
         <a href="https://www.sportybet.com/?shareCode=63CD9A30&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Czech Republic-CFL</h6>
        <h3>SK Sparta Kolin vs FK Arsenal Ceska Lipa-over2.5</h3>
        <h6>Serbia-Prva Liga</h6>
        <h3>RFK Graficar Beograd vs FK Jedinstvo UB-1X</h3>
        <h6>Germany-DFB Pokal</h6>
        <h3>1.FC Saarbrucken vs Karlsruher SC-over1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=BC910417&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>INT-Clubs Friendly Games</h6>
        <h3>BSG Chemie Leipzig vs Union Sandersdorf-Home win</h3>
        <h6>Russia-Youth League</h6>
        <h3>FK Spartak Moscow vs FK Zenit St. Petersburg-12</h3>
        <h6>Austria-2.Liga</h6>
        <h3>SKN St Polten vs FC Liefering-over2.5</h3>
        <a href="https://www.sportybet.com/?shareCode=7C115578&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Austria Amateur-Regionalliga Centre</h6>
        <h3>Vorwarts Steyr vs FC Gleisdorf 09-Home Team Clean Sheet-NO</h3>
        <h6>Switzerland-Challenge League</h6>
        <h3>Neuchatel Xamax vs FC Thun-over1.5</h3>
        <h6>Netherlands-Eerste Divisie</h6>
        <h3>FC Den Bosch vs Top Oss</h3>
        <a href="https://www.sportybet.com/?shareCode=4F2C984B9&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Iceland-1, delid</h6>
        <h3>Leiknir Reykjavik vs Grotta-over2.5</h3>
        <h6>Poland- I Liga</h6>
        <h3>Gornik Leczna vs Chrobry Glogow-1x</h3>
        <h6>Lithuania-A Lyga</h6>
        <h3>FA Siauliai vs Dziugas-Home win</h3>
        <a href="https://www.sportybet.com/?shareCode=195E2A18&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  