<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <p id="swap"></p>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">2/2/2024</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        
        <h6>International Clubs Club Friendly Games</h6>
        <h3>SFC Opava vs TJ Start Brno-Home Win</h3>
        <h6>Turkiye Super Lig</h6>
        <h3>Samsunspor vs Galatasaray Istanbul-x2</h3>
        <h6>International Africa Cup of Nations</h6>
        <h3> Nigeria vs Angola Handicap 0:3</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=3F0BF7A9&c=ng">Bet on sportybet</a>
     </fieldset>
     </div>

     <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>Romania-Division 1<h6>
            <h3>Omonia Aradippou vs EN Paralimni-x2</h3>
            <h6>France-Division 2</h6>
            <h>3Le Puy Foot 43 Auvergne vs Andrezieux-BoutheonFrance-Home Win</h3>
            <h6>Romania-Division/h6>
            <h3>FC U Craiova 1948 vs Dinamo BucurestiRomania-12</h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
           
            <a href="https://www.sportybet.com/?shareCode=AFC8B0F&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
          <h6></h6>
          <h3></h3>
          <h6></h6>
          <h3></h3> 
          <h6></h6>
          <h3></h3>
          <h6></h6>
          <h3></h3>
          <h6></h6>
          <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=62E39158&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=77223D73&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>

        <h6></h6> 
        <h3></h3>
        <h6></h6>
        <h3></h3> 
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
     </fieldset>
     </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

     </body>

     </html>  