<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">10/23/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Denmark-Superliga</h6>
        <h3>Odense Boldklub vs FC Midtylland-Over 1.5</h3>
        <h6>Italy-Seria A</h6>
        <h3>Fiorentina vs Empoli-Home Win</h3> 
        <h6>Armenia-First League</h6>
        <h3>FC Synunik vs Lernayin Artsakh FC-Home Win</h3>
        <h6>Bahrain-Premier League</h6>
        <h3>Busaiteen vs Al-Khaldiya SC-Away Win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>Italy-Seria A</h6>
            <h3>Roma vs Monza-Home Win</h3>
            <h6>Germany-Bundesliga</h6>
            <h3>Cologne vs Borussia M'gladbach-Away Team over 0.5</h3> 
            <h6>Belarus-PERVAYA Liga</h6>
            <h3>Lokomotiv Gomel vs FK Arsenal Dzerzhinsk-Away Win</h3>
            <h6>England-Premier League</h6>
            <h3>Aston Villa vs West Ham-1x</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=AC5D1DA&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>Belgium-Pro League</h6>
        <h3>Standard Liege vs Rsc Anderlecht-Over 1.5</h3>
        <h6>Cyprus-1st Division</h6>
        <h3>Doxa Katokopias vs Anorthosis Famagusta-Away Win</h3> 
        <h6>Denmark-Superliga</h6>
        <h3>Viborg FF vs FC Nordsjaelland-Away Team to Win Either Half</h3>
        <h6>Estonia-Premium Liga</h6>
        <h3>Paide Linnameeskond vs FC Kuressare-Home Win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=AE622EA4&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Faroe Island-Premier League</h6>
            <h3>HB Torshavn vs 07 Vestur Sorvagur-over 2.5</h3>
            <h6>Hungary-NB l</h6>
            <h3>Diosgyori VTK vs Ferencvarosi Budapest-Away Win</h3> 
            <h6>Latvia-1 Liga</h6>
            <h3>FK Smiltena/BJSS vs Riga FC ll-Away Win</h3>
            <h6>Kosovo-First League</h6>
            <h3>KF Prishtina E Re vs KF Ramiz Sadiku-Home Win</h3>
            <a href="https://www.sportybet.com/?shareCode=853485B&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  