<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <p  id="swapp"></p>
    <p id="swap1"></p>
<style>
        body{
            background: url(craft.jpg);
        
        }
    </style>

         <script>

            function dark (){
                setInterval(dark,1000)
                let time = document.getElementById("swapp");
                let d = new Date();
                time.innerHTML= d.toLocaleTimeString();
            }
            dark();

            function current(){
            let u = new Date();
            document.write(u.getFullYear()+";" +u.getDay()+";" +u.getMonth())

            document.write(u)
            
            
            }
         </script>



    
   

     </body>

     </html>  