<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/6/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Germany-2nd Bundesliga</h6>
        <h3>1.FC Magdeburg vs Eintracht Braunschweig-Yes Home Team To Win Either Half</h3>
        <h6>Vietnam-V-League</h6>
        <h3>Dong A Thanh Hoa vs Viettel FC-over1.5 </h3>
        <h6>Armenia-Premier League</h6>
        <h3>FC Pyunik Yerevan vs Ararat Yervan FC-over1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=99DCD6C7&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Denmark-Superliga</h6>
            <h3>FC Nordsjaelland vs Broendby-Away Team over0.5</h3>
            <h6>Sweden-Ettan, Norra</h6>
            <h3>Bodens BK FF vs Nordic United FC-over1.5</h3>
            <h6>Denmark-1,Division</h6>
            <h3>Aalborg BK vs FC Fredericia-Home win</h3>
            <a href="https://www.sportybet.com/?shareCode=0CD867B3&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Russia-1.Liga</h6>
         <h3>FK Akron Tolyatti vs FC Alania Vladikavkaz-1x</h3>
         <h6>Sweden-Allsvenskan</h6>
         <h3>IF Elfsborg vs IK Sirius-Home win</h3>
         <h6>Lebanon-Premier League</h6>
         <h3>AL Ahed vs Racing Beirut-Home win</h3>
         <a href="https://www.sportybet.com/?shareCode=1B5C6AA1&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  