<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/5/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Czech Rep-Pohar CMFS-Round 2</h6>
        <h3 style="background-color: green;">Znoimo vs SK Prostejov-2</h3>
        <h6>Denmark-DBU-Landspokal-Round 2</h6>
        <h3 style="background-color: green;">Nibe Bk 1919 vs Esbjerg fB-X2</h3> 
        <h6>Romania-Liga II</h6>
        <h3 style="background-color: green;">1599 Selimbar vs CSA Steaua-over 2.5</h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>England- Professional Development League</h6>
            <h3 style="background-color: green;">Bristol City vs Wigan Athletic-over 2.5</h3>
            <h6>England- Professional Development League</h6>
            <h3 style="background-color: green;">Bournemouth Reserve vs Sheffield Wednesday-1x</h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>England-EFL Trophy-Northern Group D</h6>
         <h3 style="background-color: green;">fleetwood Town vs Tranmere Rovers-1x</h3>
         <h6>England-EFL Trophy-Southern Group E</6>
         <h3 style="background-color: green;">Gilliingham vs Leyton Orient-over 2.5</h3>
         <h6></h6>
         <h3></h3>
         <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  