<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">10/23/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Denmark-Superliga</h6>
        <h3>Odense Boldklub vs FC Midtylland-Over 1.5</h3>
        <h6>Italy-Seria A</h6>
        <h3>Fiorentina vs Empoli-Home Win</h3> 
        <h6>Armenia-First League</h6>
        <h3>FC Synunik vs Lernayin Artsakh FC-Home Win</h3>
        <h6>Bahrain-Premier League</h6>
        <h3>Busaiteen vs Al-Khaldiya SC-Away Win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=07354F5&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>England-Premier League</h6>
            <h3>Tottenham vs Fulham-Home Win</h3>
            <h6>Turkiye-Super Lig</h6>
            <h3>Trabzonspor vs Alanyaspor-Home win</h3> 
            <h6>INT-Clubs-AFC Champions League</h6>
            <h3>Navbahor vs Nassaji Mazandaran FC-Over 1.5</h3>
            <h6>Saudi Arabia-Division 1</h6>
            <h3>AL Batin vs Al Faisaly FC-X2</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=C75F4AE&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>Greece-Super League 2</h6>
        <h3>Kampaniakos vs APO Levadiakos FC-Away Win</h3>
        <h6>Albania-Kategoria Superiore</h6>
        <h3>Erzeni Shijak vs Partizani Tirana-Away Team to Win Either Half</h3> 
        <h6>Turkiye-1.Lig</h6>
        <h3>Genclerbirligi SK vs Altay Izmir-Home Team to Win Either Half</h3>
        <h6>France-National</h6>
        <h3>Red Star FC vs So Cholet-Home Win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=41EE6B5&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Ireland-Premier Division</h6>
            <h3>Saint Patrick's Athletic FC vs Sligo Rovers FC-over 2.5</h3>
            <h6>Lithuania-1 Lyga</h6>
            <h3>FA Siaullai B vs Vilnius FK Zalgris B</h3> 
            <h6>Poland-l Liga</h6>
            <h3>Mks Arka Gdynia vs MKS Znicz Pruszkow-Over 1.5</h3>
            <h6>Petrojet FC vs Misr Lel Makasa-Home Win</h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=12E7096&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  