<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">10/29/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Germany-Bundesliga</h6>
        <h3>Bayern Leverkusen vs Freiburg-Over 2.5</h3>
        <h6>France-Ligue 1</h6>
        <h3>Brest vs PSG-Away Win</h3> 
        <h6>France-Ligue 1</h6>
        <h3>Lille vs Monaco-Over 2.5</h3>
        <h6>Spain-Laliga</h6>
        <h3>Athletico Madrid vs Alaves-Home Win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=6A2F756D2&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>Austria-Bundesliga</h6>
            <h3>Stum Graz vs Fk Austria Wien-Home Team to Win Either Half</h3>
            <h6>Turkiye-Super Lig</h6>
            <h3>Pendikspor vs Fenerbahce Instanbul-Over 2.5</h3> 
            <h6>Thailand-Thai League 1</h6>
            <h3>Bangkok United FC vs Ratchaburi Mitr Phoi FC-HoME Win</h3>
            <h6>Bahrain-Premier League</h6>
            <h3>East Riffa vs Al Hidd-1X</h3>
            <a href="https://www.sportybet.com/?shareCode=FCBBCBAB&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>Belarus-Vysshaya Liga</h6>
        <h3>Bate Borisov vs FC Slutsk-Home Win</h3>
        <h6>Belgium-Pro League</h6>
        <h3>KVC Westerlo vs Union Gilloise-Away Win</h3> 
        <h6>Czech Republic-1 Liga</h6>
        <h3>FK Mlada Boleslav-Sparta Prague-Away Win</h3>
        <h6>Denmark-Superliga</h6>
        <h3>Broendy IF vs Nordsjaelland-Over 1.5</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=1B6BF0C9&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Hungary-NB I</h6>
            <h3>Paksi FC vs Kisvarda FC-Home win</h3>
            <h6>Hungary-NB I</h6>
            <h3>Ferencvarosi Budapest vs Ujpest FC Budapest-Home Win</h3> 
            <h6>Cyprus-1st Divsion</h6>
            <h3>Anorthosis Famagusta vs AEZ Zakakiou-AEZ Zakakiou-Home Win</h3>
            <h6>Iran-Pro League</h6>
            <h3>Malavan Bandar Anzall FC vs Persepolis-Away Win</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=ADE66C21&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>

        <h6>England-Premier League</h6>
        <h3>Man Utd vs Man City-Away Win</h3>
        <h6>Czech Republic-1 Liga</h6>
        <h3>Bohemians Prague 1905 vs Slavia Prague-Away Win</h3> 
        <h6>Faroe Islands-Premier League</h6>
        <h3>Eb/streymur vs HB Torshavn-Over 2.5</h3>
        <h6>Italy-Serie A</h6>
        <h3>Inter vs Roma-Home Win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=683435D27&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  