<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/16/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>England-Premier League</h6>
        <h3>Wolves vs Liverpool-2</h3>
        <h6>Germany-Bundesliga</h6>
        <h3>Freiburg vs Borussia Dortmund-x2</h3> 
        <h6>Germany-Bundesliga</h6>
        <h3>RB Leipzig vs Augsburg-1</h3>
        <h6>England-Premier League</h6>
        <h3>Tottenham vs Sheffield Uted-1</h3>
        <h6>Wales-Cymru Premier</h6>
        <h3>Pontypridd Town vs Bala Town FC-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=41A10ADB&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>England-Premier League</h6>
            <h3>West Ham vs Man City-2</h3>
            <h6>England-Premier League</h6>
            <h3>Newcastle vs Brentford-over 1.5</h3> 
            <h6>Italy-Serie A</h6>
            <h3>Juventus vs Lazio-over 1.5</h3>
            <h6>France-Ligue 1</h6>
            <h3>Rennes vs Lille-1x</h3>
            <h6>Denmark-Superliga</h6>
            <h3>FC Nordsjaelland vs Copenhagen-over 1.5</h3>
            <a href="https://www.sportybet.com/?shareCode=D06AFE5C4&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>Denmark-2nd Division</h6>
        <h3>FA 2000 vs Esberg FB-2</h3>
        <h6>Denmark-2nd Division</h6>
        <h3>AB Gladsaxe vs BK Fremad Amager-1x</h3> 
        <h6>Australia-Western Australia NPL</h6>
        <h3>Perth Redstar FC vs Stirling Macedenia FC-over 2.5</h3>
        <h6>Thailand-Thai League 2</h6>
        <h3>Chiangmal United vs Nongbua Pitchaya FC-over 1.5</h3>
        <h6>Lithunia-1 Lyga</h6>
        <h3>Vilnius FK Zalgris B vs FC Neptunas Klaipeda-over 2.5</h3>
        <a href="https://www.sportybet.com/?shareCode=DE68CA1D&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Lithunia-A Lyga</h6>
            <h3>FK Suduva Marjampole vs FK Panevezys-2</h3>
            <h6>Iceland-2 Delid</h6>
            <h3>Haukar Hafnarfjor vs KF Fjallabyggd-over 2.5</h3> 
            <h6>Iceland-2 Delid</h6>
            <h3>Eliidi vs Ymir Kopavogur-over 3.5</h3>
            <h6>Iceland-2 Delid</h6>
            <h3>Komakur/Hvot vs Augnablik Kopavogur-0ver 3.5</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=056BEDD&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6>Austra-Bundesliga</h6>
            <h3>SK Sturm Graz vs Salzburg-x2</h3>
            <h6>Switzerland-Schweizer Cup</h6>
            <h3>FC Thun vs FC Luzern-Away to Qualify</h3> 
            <h6>Czech Republic-CFL</h6>
            <h3>FC Slavia Karlovy Vary vs SK Slavia Prague B-over 2.5</h3>
            <h6>Czech Republic-CFL</h6>
            <h3>SK Lisen Brno vs FC Vlasim-1x</h3>
            <h6>Georgia-Erovnull Liga 2</h6>
            <h3>FC Merani Marrvili vs Sioni Bolnisi-over 2.4</h3>
            <a href="https://www.sportybet.com/?shareCode=323B5DF&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6>Georgia-Erovnull Liga</h6>
            <h3>FC Gagra vs FC Dila Gori-over 1.5</h3>
            <h6>Slovenia-2 Liga</h6>
            <h3>Primorje Ajdovscina vs ND Dravinja-1</h3> 
            <h6>Slovenia-PrvaLiga</h6>
            <h3>Olimpija Ljubijana vs NK Maribor-1x</h3>
            <h6>Turkiye-Super Lig</h6>
            <h3>Galatasaray Istanbul vs Samsunspor-over 2.5</h3>
            <h6>Estonia-Esilliga B</h6>
            <h3>Tartu JK Welco vs Tartu JK Tammeka-over 2.5</h3>
            <a href="https://www.sportybet.com/?shareCode=D1BB81C&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  