<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/27/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>England - Premier League</h6>
        <h3> Sheffield Utd vs Man City-2</h3>
        <h6>Scotland - Premier League 1, Women</h6>
        <h3> Aberdeen LFC vs Heart of Midlothian WFC-over 2.5</h3>
        <h6>Estonia - Premium Liiga</h6>
        <h3>JK Narva Trans vs Paide Linnameeskon-Away Team to win Either Half-Yes</h3>
        <a href="https://www.sportybet.com/?shareCode=659CFB04&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Germany - Bundesliga</h6>
            <h3>Mainz vs Eintracht Frankfur</h3>
            <h6>Malaysia - Super League</h6>
            <h3>Kelantan United FC vs Sri Pahang FA</h3>
            <h6>Luxembourg - Division National</h6>
            <h3>FC Mondercange vs F91 Dudelange</h3>
            <a href="https://www.sportybet.com/?shareCode=96279E38&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Austria - Bundesliga</h6>
         <h3> LASK vs FK Austria Wien</h3>
         <h6>Switzerland - Super League</6>
         <h3>Lausanne-Sport vs FC Winterthurh</h3>
         <h6>Lithuania - A Lyga</h6>
         <h3>Vilnius FK Zalgiris vs Dziugas</h3>
         <a href="https://www.sportybet.com/?shareCode=5EB23765&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Kazakhstan - Premier League</h6>
        <h3>Tobol Kostanay vs FC Ordabasy</h3>
        <h6>England - Premier League</h6>
        <h3> Newcastle vs Liverpool</h3>
        <h6>-----</h6>
        <h3>-----</h3>
        <a href="https://www.sportybet.com/?shareCode=FF80E7B7&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Poland - Ekstraklasa</h6>
        <h3>Jagiellonia Bialystok vs Gornik Zabrze</h3>
        <h6>Sweden - Allsvenskan</h6>
        <h3>IFK Goteborg vs Hacken Gothenburg</h3>
        <h6>Denmark - Superliga</h6>
        <h3>FC Nordsjaelland vs FC Midtjylland</h3>
        <a href="https://www.sportybet.com/?shareCode=48AA73CC&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Georgia - Erovnuli Liga</h6>
        <h3>FC Gagra vs FC Dinamo Batumi</h3>
        <h6>Czech Republic - 1. Liga</h6>
        <h3>Sparta Prague vs MFK Karvina</h3>
        <h6>Belgium - Pro League</h6>
        <h3>RSC Anderlecht vs Royal Charleroi SC</h3>
        <a href="https://www.sportybet.com/?shareCode=000377C0&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Spain - LaLiga</h6>
        <h3>Villarreal vs Barcelona</h3>
        <h6>-----</h6>
        <h3>-------</h3>
        <h6>------</h6>
        <h3>------</h3>
        <a href="https://www.sportybet.com/?shareCode=CF438EC1&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  