<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">7/30/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Czech Republic-1. Liga</h6>
        <h3>SK Dynamo Ceske Budejovice vs Slavia Prague-Away Win</h3>
        <h6>Czech Republic-1. Liga</h6>
        <h3>FK Mlada Boleslav vs FC Slovan Liberec-over1.5</h3>
        <h6>Norway-Eliteserien</h6>
        <h3>Rosenborg Bk vs Odds BK-12</h3>
        <a href="https://www.sportybet.com/?shareCode=3A441C0C&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Poland-II liga</h6>
            <h3>Zaglebie Lubin II vs KKS 1925 kalisz-12</h3>
            <h6>Denmark-Superliga</h6>
            <h3>FC Midtjylland vs Silkeborg IF-1X</h3>
            <h6>Germany-2nd Bundesliga</h6>
            <h3>Hansa Rostock vs 1 FC Nuremberg-12</h3>
            <a href="https://www.sportybet.com/?shareCode=3918AAC3&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
            <h6>Iceland-Besta delid</h6>
         <h3>Vikingur Reykjavik vs IBV Vestmannaeyjar-Home win</h3>
         <h6>Russia-Premier League</h6>
         <h3>RFK Akhmat Grozny vs CSKA Moscow-12</h3>
          <h6>-------</h6>
         <h3>--------</h3>
         <a href="https://www.sportybet.com/?shareCode=586A5479&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  