<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">10/30/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Portugal-Liga Portugal</h6>
        <h3>Boavista Porto vs Sporting-Away Team to Win Either Half</h3>
        <h6>Italy-Serie A</h6>
        <h3>Empoli vs Atalanta-Over 1.5</h3> 
        <h6>Norway-Eliteserien</h6>
        <h3>Bodoe/Glimt vs Lillestrom SK-Over 2.5</h3>
        <h6>Turkiye-Super Lig</h6>
        <h3>Besiktas Instanbul vs Gaziantep FK-Home win</h3>
        <h6>Italy-Serie A</h6>
        <h3>Lazio vs Fiorentina-Away Team Over 0.5</h3>
        <a href="https://www.sportybet.com/?shareCode=665CE7D4&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>Norway-Eliteserien</h6>
            <h3>Molde vs Tromsoe IL-Over 2.5</h3>
            <h6>Indonesia-Liga 1</h6>
            <h3>Bali United-Persita Tangerang-Home Team to Win Either Half</h3> 
            <h6>Portugal-Liga Portugal</h6>
            <h3>Boavista Porto vs Sporting-Away Win</h3>
            <h6>Armenia-First League</h6>
            <h3>FC BKMA Vagharshapat 2 vs FC Ararat Yerevan 2-Home Win</h3>
            <a href="https://www.sportybet.com/?shareCode=D0B2A5D&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>Uzbekistan-Superliga</h6>
        <h3>Navbahor vs FC Nasaf-1X</h3>
        <h6>Azerbaijan-Premier League</h6>
        <h3>Araz Nakhchivan PFK vs Qarabag-Away Team to Win Either Half</h3> 
        <h6>Lithuania-A Lyga</h6>
        <h3>FA Siuliai vs FK Panevezys-Over 1.5</h3>
        <h6>Cyprus-1st Division</h6>
        <h3>Othellos Athienou vs Aris Limassol-Away Win</h3>
        <h6>Eng-Amatuer PDL</h6>
        <h3>Wigan Athletic vs Barnsley FC</h3>
        <a href="https://www.sportybet.com/?shareCode=B2192AE&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Ireland-Premier Division</h6>
            <h3>Cork City FC vs Shamrock Rovers-Away</h3>
            <h6>Greece-Super League 1</h6>
            <h3>OFl Crete vs Olympiacos-Away Win</h3> 
            <h6>Armenia-First League</h6>
            <h3>FC Nikarm vs FC Syunik Away Win</h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=37640C55&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>

        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3> 
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  