<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/13/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Denmark-Superliga</h6>
        <h3>Randers FC vs FC Nordsjaelland-x2</h3>
        <h6>China-Chinese Super League</h6>
        <h3>Wuhan Three Towns vs Shanghai Shenhua-Home Team To Win to Nill-NO</h3>
        <h6>Scotland-Premiership</h6>
        <h3>Aberdeen FC vs Celtic-Away win</h3>
        <a href="https://www.sportybet.com/?shareCode=02D75ED&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Poland-III Liga, Group 1</h6>
            <h3>Swit Nowy Dwor Mazowiecki vs GKS Wikielec-12</h3>
            <h6>Ukraine-Premier League</h6>
            <h3>FC Vorskla Poltava vs FC Zorya Lugansk-over1.5</h3>
            <h6>Turkiye-Super Lig</h6>
            <h3>Fenerbahce Istanbul vs Gaziantep FK-Home Win</h3>
            <a href="https://www.sportybet.com/?shareCode=A6C3FF8E&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Tajjkistan-Vysshaya Liga</h6>
         <h3>Faizkand vs Istiklol-Away Win</h3>
         <h6>Czech Republic-1.Liga</h6>
         <h3>Fk Mlada Boleslav vs Slavia Prague-over1.5</h3>
         <h6>Kazakhstan-Premier League</h6>
         <h3>FC Kairat Almaty vs Tobol Kostanay-over1.5</h3>
         <a href="https://www.sportybet.com/?shareCode=945A5DA2&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Luxembourg-Division Nationale</h6>
        <h3>FC Mondercange vs US Mondorf-Less-Bains-over1.5</h3>
        <h6>Azerbaijan-Premier League</h6>
        <h3>Qarabag FK vs Turan Tovuz-Home win</h3>
        <h6>Switzerland-Super League</h6>
        <h3>FC Luzern vs Young Boys Bern-x2</h3>
        <a href="https://www.sportybet.com/?shareCode=F67C17B1&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Austria-Bundesliga</h6>
        <h3>Salzburg vs FK Austria Wien-over2.5</h3>
        <h6>Bulgaria-Second Prof. League</h6>
        <h3>FK Septemvri Sofia vs PFK Sportist Svoge-Home win</h3>
        <h6>------</h6>
        <h3>-------</h3>
        <a href="https://www.sportybet.com/?shareCode=6F5389BBD&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Armenia-Premier League</h6>
        <h3>FC Noah Yerevan vs FC Uartu Yerevan-Away Win</h3>
        <h6>Italy-Serie A</h6>
        <h3>frosinone vs Napoli</h3>
        <h6>------</h6>
        <h3>-------</h3>
        <a href="https://www.sportybet.com/?shareCode=80DB7A02&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>France-Ligue 1</h6>
        <h3>Clermont Foot vs Monaco-over1.5</h3>
        <h6>Turkiye-Super Lig</h6>
        <h3>Sivasspor vs Samsunspor-over1.5</h3>
        <h6>Bosnia & Herzegovina-Premier Liga</h6>
        <h3>NK Siroki Brijeg vs FK Tuzla City</h3>
        <a href="https://www.sportybet.com/?shareCode=C3916B3F&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  