<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/21/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>England-Premier League</h6>
        <h3>Crystal Palace vs Arsenal-Away win</h3>
        <h6>Lithunia-1 Lyga</h6>
        <h3>FK Kauno Zalgris B vs FK Vilnius BFA-over 2.5</h3>
        <h6>-----</h6>
        <h3>-----</h3>
        <a href="https://www.sportybet.com/?shareCode=858AFAC2&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Turkiye-Super Lig</h6>
            <h3>Samsunspor vs Fenerbahce Istanbul-Away win</h3>
            <h6>Turkiye-1.Lig</h6>
            <h3>Eyupspor vs Kocaelispor-Home win</h3>
            <h6>-----</h6>
            <h3>-----</h3>
            <a href="https://www.sportybet.com/?shareCode=258E82E7&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Spain-Laliga</h6>
         <h3>Alaves vs Sevilla-over 1.5</h3>
         <h6>Bulgaria-Parva Liga</h6>
         <h3>FC CSKA 1948 vs SFC Etar Veliko Taenovo-over 1.5</h3>
         <h6>Denmark-Superliga</h6>
         <h3>Viborg FF vs Vejle BK-over 1.5</h3>
         <a href="https://www.sportybet.com/?shareCode=4FF65A14&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Faroe Islands-Premier League</h6>
        <h3>B36 Torshavn vs Tofta Itrottarfelag b68-over 2.5</h3>
        <h6>Uzbekistan-Superliga</h6>
        <h3>FC Andijon vs FC Olimpik-over 1.5</h3>
        <h6>-----</h6>
        <h3>-----</h3>
        <a href="https://www.sportybet.com/?shareCode=16E9F88E&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Serbia-Prva Liga</h6>
        <h3>Gfk Dubocica vs RFK Novi Sad 1921-over 2.5</h3>
        <h6>Saudi Arabia-Division 1</h6>
        <h3>Ohod Medina vs Al Faisaly-12</h3>
        <h6>-----</h6>
        <h3>------</h3>
        <a href="https://www.sportybet.com/?shareCode=C7992890&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Bosnia & Herzegovina-Premijer Liga</h6>
        <h3>FK Tuzla City vs FK Sarajevo-over 1.5</h3>
        <h6>England Amateur-Premier League 2</h6>
        <h3>West Bromwich Albion vs Blackburn Rovers-over 2.5</h3>
        <h6>England Amateur-Premier League 2</h6>
        <h3>Stoke City vs Wolverhampton Wanderers FC-over 2.5</h3>
        <a href="https://www.sportybet.com/?shareCode=137D238C&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Sweden-Allsvenskan</h6>
        <h3>IFK Norrkoping FK vs AIK-X2</h3>
        <h6>Portugal-Liga Portugal</h6>
        <h3>FC Famalicao vs Moreirense-over 1.5</h3>
        <h6>Estonia-Eslliga B</h6>
        <h3>FC Kuressaare vs Nomme Kalju FC-Home win</h3>
        <a href="https://www.sportybet.com/?shareCode=F3B75EEC&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  