<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">11/28/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        
        <h6>INT-Youth Uefa League</h6>
        <h3>AZ Alkmaar vs Molde FK-Home Win</h3>
        <h6>INT-Clubs Uefa Champions League</h6>
        <h3>Barcelona vs Porto-Home Win</h3>
        <h6>INT-Clubs Uefa Champions League</h6>
        <h3>Man City vs RB Leipzig-Over 2.5</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=1E01B10&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>INT-Clubs Uefa Champions League</h6>
            <h3>Man City vs RB Leipzig-Home Win</h3>
            <h6>INT-Clubs AFC Cup</h6>
            <h3>Al Ittihad Ahli of Aleppo vs Ah Wehdat-Away Win</h3>
            <h6>Scotland-League 1</h6>
            <h3>Montrose FC vs Falkirk FC-Away Win</h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
           
            <a href="https://www.sportybet.com/?shareCode=FAAA9C6B&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
          <h6>Northern Ireland-League Cup</h6>
          <h3>Limavady United FC vs Glenavon FC-Away Win</h3>
          <h6>Egypt-Premier League</h6>
          <h3>Al Ahly SC vs Smouha SC-Home Win</h3> 
          <h6>INT-Clubs Uefa Champions League</h6>
          <h3>PSG vs Newcastle-Home Win</h3>
          <h6></h6>
          <h3></h3>
          <h6></h6>
          <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=62E39158&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>England-League Two</h6>
            <h3>Harrogate Town vs Wrexham AFC-Away Win</h3>
            <h6>INT-Clubs Uefa Champions League</h6>
            <h3>Feyenoord Rotterdam vs Atletico Madrid-x2</h3> 
            <h6>INT-Clubs Uefa Champions League</h6>
            <h3>Young Boys Bern vs Crvena Zvezda-1x</h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=77223D73&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>

        <h6></h6> 
        <h3></h3>
        <h6></h6>
        <h3></h3> 
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  