<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">10/27/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Spain-Laliga</h6>
        <h3>Girona vs Celta-Home Win</h3>
        <h6>England-Premier League</h6>
        <h3>Crystal Palace vs Tottenham-Away Win</h3> 
        <h6>Thailand-Thai League 1</h6>
        <h3>Sukhothai FC v Port FC-Away win </h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=ECFC7CE&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>United Arab Emirates-Arabian Gulf League</h6>
            <h3>Hatta SC vs Al-Wasi FC-Away Win</h3>
            <h6>Uzbekistan-Superliga</h6>
            <h3>FK Termez Sukhon vs Navbahor-Over 1.5</h3> 
            <h6>Bulgaria-Second Prof. League</h6>
            <h3>FC Strumska Slava Radomir vs FK Septemvri Sofia-Away Win</h3>
            <h6>Russia-1 .Liga</h6>
            <h3>FC Alania Vladikavkaz vs PFK Arsenal Tula-Over 1.5</h3>
            <a href="https://www.sportybet.com/?shareCode=224D8CA0&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>Iran-Pro League</h6>
        <h3>Esteghlal vs Aluminium Arak-Home Win</h3>
        <h6>Saudi Arabia-Saudi Pro League</h6>
        <h3>Al Raed Club vs Al Fateh SC-over 2.5</h3> 
        <h6>United Arab Emirates-Arabian Gulf League</h6>
        <h3>Shabab Al Ahli Dubai vs Al-Nasr Dubai CSC-Over 2.5</h3>
        <h6>Slovenia-Prva Liga</h6>
        <h3>NK Celje vs NK Domzale-Home win</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=51B8E07&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Beroe-Parva Liga</h6>
            <h3>PFK Beroe Stara Zagora vs PFC Levski Sofia-Over 1.5</h3>
            <h6>Bahrain-2nd Division</h6>
            <h3>Al Ittihad vs AL Bahrain-Away Win</h3> 
            <h6>Austria-2.Liga</h6>
            <h3>SV Horn vs Grazer AK 1902-Away win</h3>
            <h6>Egypt-Premier League</h6>
            <h3>Enppi Club vs Zamalek SC-X2</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=AF80AC35&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>

            
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  