<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/15/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>France-Ligue 1</h6>
        <h3>PSG vs Nice-Home Win</h3>
        <h6>Germany-Bundesliga</h6>
        <h3>Bayern Munich vs Bayern Leverkusen-Home win</h3> 
        <h6>China-Chinese Super League</h6>
        <h3>Shandong Taishan vs Qingdao Hainiu FC-Home win</h3>
        <h6>Portugal-Liga Portugal</h6>
        <h3>Estrela Amadora vs Porto-over 1.5</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=2DBBB892&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>England-Championship</h6>
            <h3>Southampton vs Leichester-1x</h3>
            <h6>China-Chinese Super League</h6>
            <h3>Wuhan Three Towns vs Cangzhou Mighty Lions-Handicap 0:3</h3> 
            <h6>Russia-Youth League</h6>
            <h3>FK Nizhny Novgoroad vs Lokomotiv Moscow-Away win</h3>
            <h6>Malaysia-Piala Malaysia</h6>
            <h3>Sabah FA vs Perak FC-over 2.5</h3>
            <h6>Geramany-2nd Bundesliga</h6>
            <h3>1.FC Nuremberg vs Greuther Furth-over 1.5</h3>
            <a href="https://www.sportybet.com/?shareCode=E26C0D5A&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>Armenia-Premier League</h6>
        <h3>FC Alashkert Yerevan vs FC Urartu Yerevan-1x</h3>
        <h6>Austria-2 Liga</h6>
        <h3>DSV Leoben vs Grazer AK 19O2-X2</h3> 
        <h6>Austria-2 Liga</h6>
        <h3>SKN st Polten vs First Vienna FC-1X</h3>
        <h6>Belgium-U21 Pro League</h6>
        <h3>Jeugd Lommwl SK vs Sint-Truidense VV-over 2.5</h3>
        <h6>Bosnia & Herzegovina-Premijer-Liga</h6>
        <h3>FK Zeljeznicar Sarajevo vs NK Gosk Gabela-Home win</h3>
        <a href="https://www.sportybet.com/?shareCode=AFA9C1C2&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Denmark-Superliga</h6>
            <h3>Viborg FF vs FC Midtjylland-12</h3>
            <h6>Denmark Amateur-Danmarksserien</h6>
            <h3>Horsens FS vs BK Marienlyst-Away win</h3> 
            <h6>England Amateur-Premier League Cup</h6>
            <h3>Middlebrough FC vs Crystal Palce FC-over 2.5</h3>
            <h6>England Amateur-Premier League Cup</h6>
            <h3>Brentford Reserve vs Fulham FC-over 2.5</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=3159D393&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6>England Amateur-Professional Development League</h6>
            <h3>Birmingham City vs Wigan Athletic-over 2.5</h3>
            <h6>Faroe Island-Premier League</h6>
            <h3>HB Torshavn vs Kl Klaksvik-1x</h3> 
            <h6>France-National</h6>
            <h3>Le Mans FC vs Red Star FC-over 1.5</h3>
            <h6>Northen Ireland-Premiership</h6>
            <h3>Larne FC vs Linfield FC-1X</h3>
            <h6>Ireland-Premier Division</h6>
            <h3>Derry City FC vs Sharmrock Rovers-over 1.5</h3>
            <a href="https://www.sportybet.com/?shareCode=C35CEE45&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6>Ireland-FAI Cup</h6>
            <h3>Cork City FC vs Wexford FC-Home win</h3>
            <h6>Ireland-FAI Cup</h6>
            <h3>Galway United FC vs Dundalk FC-Home to Qualify</h3> 
            <h6>Iceland-U19 League</h6>
            <h3>Fram Ulfarnir U19 vs Valur/KH U19-over 3.5</h3>
            <h6>Switzerland-Schweizer Cup</h6>
            <h3>Neuchatel Xamax vs Young Bou Bern-Away win</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=22685DA8&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  