<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/7/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Armenia-Premier League</h6>
        <h3>FC West Armenia vs FC Alashkert Yerevan-over1.5</h3>
        <h6>Finland-Veikkauslliga</h6>
        <h3>FC Lahti vs FC Honka-12</h3>
        <h6>Lithuania-1 Lyga</h6>
        <h3>FK Kauno Zalgris B vs FK Ekranas-x2</h3>
        <a href="https://www.sportybet.com/?shareCode=667E7F64&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Bulgaria-Parva Liga</h6>
            <h3>FC CSKA 1948 vs FK Hebar Pazardzhik-Home win</h3>
            <h6>Estonia-Esilliga</h6>
            <h3>Vlimsi JK vs JK Tabasalu-over2.5</h3>
            <h6>Iceland-Besta delid, Women</h6>
            <h3>Breidablik Kopavogur W vs Thor/KA-Home win</h3>
            <a href="https://www.sportybet.com/?shareCode=D85FDBB6&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Ireland-First Division</h6>
         <h3>Galway United FC vs Treaty United-over2.5</h3>
         <h6>Lithuania-A Lyga</h6>
         <h3>FK Panevezys vs FC Hegalmann Kaunas-over1.5</h3>
         <h6>Norway-3rd Division Group 4</h6>
         <h3>Odds BK 2 vs Pors Grenland-over2.5</h3>
         <a href="https://www.sportybet.com/?shareCode=2ED429FB&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  