<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">11/6/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>INT-Clubs AFC Champions League</h6>
        <h3>Air Force Club vs Al Ittihad-Home Team or Over 2.5</h3>
        <h6>Albania-Kategoria e Pare</h6>
        <h3>Luz i Vogel vs Af Elbasani-Away Win</h3> 
        <h6>England Amateur-Professional Development League</h6>
        <h3>Crewe Alexandra vs Birmingham City-Over 2.5</h3>
        <h6>Belarus-Vysshaya Liga</h6>
        <h3>FC Brest vs FC Dinamo Minsk-Over 2.5</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=DC649C110&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>Serbia-Superliga</h6>
            <h3>FK Novi Pazar vs FK Partizan Belgrade-Away Win</h3>
            <h6>Armenia-Premier League</h6>
            <h3>FC BKMA Yerevan vs FC Pyunik Yerevan-Over 2.5</h3> 
            <h6>Argentina-Copa de La liga, Reserves</h6>
            <h3>Boca Juniour vs CD Godoy Cruz-Home Win</h3>
            <h6>INT-Clubs- AFC Champions League</h6>
            <h3>Nassaji Mazandaran FC vs Navbahor-x2</h3>
            <h6>France-National</h6>
            <h3>Chamios Niort FC vs Red Star FC-Away Team Over 0.5</h3>
            <a href="https://www.sportybet.com/?shareCode=8E2EF841&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>Albania-Kategoria Superiore</h6>
        <h3>Partizani Tirana vs Vllazania Shkoder-Home Win</h3>
        <h6>Ukraine-Premier League</h6>
        <h3>SC Dnipro-1 vs FC Oleksandriya-Home Win</h3> 
        <h6>Germany Amateur-Women Bundesliga</h6>
        <h3>Werder Bremen vs Eintracht Frankfurt-Over 2.5</h3>
        <h6>England-Premier League</h6>
        <h3>Tottenham vs Chelsea-1x</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=F43B02E&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Denmark-Kvindeligaen-Women</h6>
            <h3>Kolding vs DBK Fortuna Hjoerring-x2</h3>
            <h6>INT-Clubs ADC Cup</h6>
            <h3>Al Riffa vs Al Arabi-Home Team to Win Either Half-Yes</h3> 
            <h6>Netherlands-Eerste Divisie</h6>
            <h3>Jong Ajax Amsterdam vs Willem ll Tilburg-Away Win</h3>
            <h6>Denmark-Superliga</h6>
            <h3>Broendby IF vs AGF Aarhus-Home Team to Win Either Half-Yes</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=9B80A7CA&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>

        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3> 
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  