<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/19/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Thailand-Thai League 1</h6>
        <h3>Bangkok United vs Muang Thong United-over 1.5</h3>
        <h6>Thailand-Thai League 1</h6>
        <h3>Chiangrai United vs Uthai Thani FC-over 1.5</h3>
        <h6>Czech Republic-U19 1st Division</h6>
        <h3>FC Banik Ostrava vs Sparta Prague-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=05EA5AC9&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>China-Chinese Super League</h6>
            <h3>Chengdu Rongcheng vs Wuhan Three Towns-over 1.5</h3>
            <h6>Georgia-Erovnuli Liga</h6>
            <h3>FC Dinamo Tbillisi vs FC Samgurali Tskaltubo-over 2.5</h3>
            <h6>-----</h6>
            <h3>-----</h3>
            <a href="https://www.sportybet.com/?shareCode=289A6DF2&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Italy-Seria A</h6>
         <h3>Frosinione vs Napoli-Away win</h3>
         <h6>Czech Republic-1.Liga</h6>
         <h3>FK Teplice vs Sparta Prague-Away win</h3>
         <h6>------</h6>
         <h3>------</h3>
         <a href="https://www.sportybet.com/?shareCode=068C57A45&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Spain-Laliga</h6>
        <h3>Almeria vs Real Madrid-over 2.5</h3>
        <h6>Bosnia & Herzegovina-Premijer Liga</h6>
        <h3>FK Zvijezda vs 09 FK Sloga Doboj-over 1.5</h3>
        <h6>Azerbaijan-Premier League</h6>
        <h3>Sabail FK vs Zira FK-Away Team Win Either Half-Yes</h3>
        <a href="https://www.sportybet.com/?shareCode=59FDD214&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>lithuania-A Lyga</h6>
        <h3>Dziugas vs FK Panevezys-over 1.5</h3>
        <h6>Armenia-Premier League</h6>
        <h3>FC BKMA Yerevan vs FC Alashkert Yerevan-over 1.5</h3>
        <h6>Germany-Bundesliga</h6>
        <h3>Borussua Dortmund vs Cologne-Home win</h3>
        <a href="https://www.sportybet.com/?shareCode=1153DFA9&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Bulgaria-Parva Liga</h6>
        <h3>PFK Beroe Stara Zagora vs PFC Slavia Sofia-12</h3>
        <h6>Belgium-Pro League</h6>
        <h3>Yellow-Red KV Mechelen vs Union Saint-Gilloise-1st Half-x2</h3>
        <h6>Estonia-Premium Liga</h6>
        <h3>Paide Linnamaeeskond vs Tartu JK Tammeka-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=714AB47B&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>England Amateur-National League South</h6>
        <h3>Dartford FC vs Farnborough FC-over 1.5</h3>
        <h6>Cyprus-1st Division</h6>
        <h3>Anorthosis Famagusta vs Ethnikos Achnas FC-Home Team to Win Either Half-Yes</h3>
        <h6>Germany-2nd Bundesliga</h6>
        <h3>Hansa Rostock vs Hannover 96-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=FFFBBA3A&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  