<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/25/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Germany - Bundesliga</h6>
        <h3>RB Leipzig  vs Stuttgart-Home win</h3>
        <h6>China - Chinese Super League</h6>
        <h3>Henan vs Shanghai Port FC-x2</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=A81A1164&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Turkiye - Super Lig</h6>
            <h3>Konyaspor  vs Gaziantep FK</h3>
            <h6>Switzerland - Challenge League</h6>
            <h3> AC Bellinzona vs FC Thun</h3>
            <h6>England Amateur - Premier League 2</h6>
            <h3>Manchester City FC vs Aston Villa FC</h3>
            <a href="https://www.sportybet.com/?shareCode=06484ACD&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Thailand - Thai League 1</h6>
         <h3>Lamphun Warrior vs Bangkok United-12</h3>
         <h6>Thailand - Thai League 2</h6>
         <h3>Chiangmai United vs Suphanburi FC-over 1.5</h3>
         <h6>Vietnam - V-League 2</h6>
         <h3>Quang Nam FC vs BA Ria Vung Tau FC-Home win</h3>
         <a href="https://www.sportybet.com/?shareCode=D11EBEA1&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Armenia - Premier League</h6>
        <h3>FC Alashkert Yerevan vs FC Noah Yerevan-over 1.5</h3>
        <h6>Austria - 2. Liga</h6>
        <h3>SV Stripfing vs SV Horn-over 1.5</h3>
        <h6>Belarus - Vysshaya Liga</h6>
        <h3>FC Minsk vs Naftan Novopolotsk-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=1E666023&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Germany - 2nd Bundesliga</h6>
        <h3>Schalke vs Holstein Kiel-Home Team to win Either Half-Yes</h3>
        <h6>Spain - LaLiga</h6>
        <h3>Celta vs Real Madrid-12</h3>
        <h6>France - Ligue 1</h6>
        <h3>Nantes vs Monaco-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=20650748&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Russia - Premier League</h6>
        <h3>FC Orenburg vs CSKA Moscow</h3>
        <h6>Azerbaijan - Premier League</h6>
        <h3>Araz Nakhchivan PFK vs Sumgayit F-over 1.5</h3>
        <h6>------</h6>
        <h3>------</h3>
        <a href="https://www.sportybet.com/?shareCode=B86C273A&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Australia - South Australia NPL</h6>
        <h3>Adelaide United FC0 vs Campbelltown City SC-x2</h3>
        <h6>Russia - Youth League</h6>
        <h3>PFK Sochi vs Lokomotiv Moscow-Away win</h3>
        <h6>------</h6>
        <h3>------</h3>
        <a href="https://www.sportybet.com/?shareCode=9F2B8866&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  