<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/7/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>INT-Uefa Euro Qualifications</h6>
        <h3>France vs Ireland-Home win</h3>
        <h6>INT-Uefa Euro Qualifications</h6>
        <h3>Netherlands vs Greece-Home Team To Win Either Half-Yes</h3> 
        <h6>Georgia-Cup</h6>
        <h3>FC Spaeri vs FC Torpedo Kutaisi-over 1.5</h3>
        <h6>INT-int Friendly Games</h6>
        <h3>Cambodia vs Hong Kong-Away win</h3>
        <h6>INT-Clubs Friendly games</h6>
        <h3>1 FC Nuremberg vs Heidenheim-Away Team over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=677847FA&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>INT-Clubs Friendly games</h6>
            <h3>Bochum vs St. Truidense VV-over 2.5</h3>
            <h6>INT-Clubs Friendly games</h6>
            <h3>Karlsruher SC vs Freiburg-over 2.5</h3>
            <h6>INT-Youth U21 Uefa european Championship Qualifications</h6>
            <h3>Northern Ireland vs Luxembourg-Home win</h3>
            <h6>INT-Youth U21 Uefa European Championship Qualifications</h6>
            <h3>Belarus vs Faroe Islands-1x</h3>
            <a href="https://www.sportybet.com/?shareCode=506B6792&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>INT-Clubs Friendly games</h6>
         <h3>Hoffenheim vs FC Luzern-Home Win</h3>
         <h6>INT-Uefa Euro Qualifications</6>
         <h3>Kazakhstan vs Finland-x2</h3>
         <h6>INT-Youth U21 European Championship Qualifications</h6>
         <h3>Estonia vs Bulgaria-over 1.5</h3>
         <a href="https://www.sportybet.com/?shareCode=EA43A7555&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Denmark-DBU Pokaken</h6>
            <h3>Ringsted IF vs HB Koege-over 2.5</h3>
            <h6>Finland Amatuer-3 Division</h6>
            <h3>Tups vs Kolps-Home win</h3> 
            <h6>INT-int Friendly games</h6>
            <h3>Qater vs Kenya-12</h3>
            <h6>Finland Amatuer-3 Division</h6>
            <h3>Ponpa vs Tervant-j-over 3.5</h3>
            <h6>INT-Clubs Clubs Friendly Games</h6>
            <h3>Borussia M'gladbach vs Werder Bremen-1x</h3>
            <a href="https://www.sportybet.com/?shareCode=914F3BBC&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6>Isreal-National League</h6>
            <h3>Maccabi Herzliya vs Sektzia Ness Ziona FC-X2</h3>
            <h6>Isreal-Isreal Cup</h6>
            <h3>Hapoel Mahane Yehuda vs Beitar Ramat Gen-over 1.5</h3> 
            <h6>Iceland-U19 League</h6>
            <h3>FH/IH U19 vs IR/Lettir U19-over 3.5</h3>
            <h6>Iceland-4 delid Group A</h6>
            <h3>Hamar Hverageroi vs Vaengir Jupiters-Away Win</h3>
            <h6>INT-Kings Cup</h6>
            <h3>Iraq vs India-Home win</h3>
            <a href="https://www.sportybet.com/?shareCode=62D06AF0&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  