<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">7/27/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>INT-Clubs Friendly Games</h6>
        <h3>RKC Waalwijk vs Marseille-12</h3>
        <h6>Vietnam-V-League</h6>
        <h3>Viettel FC vs Hong Linh Ha Tinh FC-Over1.5</h3>
        <h6>INT-Clubs-Uefa Conference League</h6>
        <h3>FC Ordabasy vs Legia Warszawa-x2</h3>
        <a href="">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>INT-Clubs-Uefa Conference League</h6>
            <h3>FC Alashkert Yerevan vs Debreceni VSC-over1.5</h3>
            <h6>INT-Clubs Uefa Europa Conference League</h6>
            <h3>INT Clubs de Escaldes vs Hibernian  FC-Over1.5</h3>
            <h6>Russia-Russian Cup</h6>
            <h3>FK Krasnodar vs FK Spartak Moscow-x2</h3>
            <a href="">Bet on sportybet</a>
            
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
            <h6>INT-Youth-U19 European Champ, Women</h6>
         <h3>Netherlands vs Spain-over1.5</h3>
         <h6>INT-Clubs Uefa Europa Conference League</h6>
         <h3>Ferencvarosi Budapest vs Shamrock Rovers-over1.5</h3>
          <h6>INT-Clubs Uefa Europa Conference League</h6>
         <h3>Gabala FK vs AC Omonia Nicosia-12</h3>
         <a href="">Bet on sportybet</a>
        </Fieldset>
      </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  