<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>

    

</head>

<body>

    <style>
        body{
           background: url(craft.jpg);
           margin: 0px;
            padding: 0px; 
            font-size: 17px;
            line-height: 1.6
            
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">5/22/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h3>Arsenal vs chelsea-home win</h3>
        <h3>Man u vs brigton-U2</h3>
        <h3>Real madrid vs Barcelona-GG</h3>
        <h3>Bayern vs Leverkunsen-1x</h3>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
        <h3>Arsenal vs chelsea-home win</h3>
        <h3>Man u vs brigton-U2</h3>
        <h3>Real madrid vs Barcelona-GG</h3>
        <h3>Bayern vs Leverkunsen-1x</h3>
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h3>Arsenal vs chelsea-home win</h3>
        <h3>Man u vs brigton-U2</h3>
        <h3>Real madrid vs Barcelona-GG</h3>
        <h3>Bayern vs Leverkunsen-1x</h3>
        </Fieldset>
    </div>
    
   

</body>

</html>  