<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/21/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <h6>Denmark-Superliga</h6>
        <h3>FC Midtjylland vs Broendby-12</h3>
        <a href="https://www.sportybet.com/?shareCode=4AD7777E&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Netherlands-Eredivisie</h6>
            <h3>RKC Waalwijk vs Alkmaar-Away Win</h3>
            <h6>Austria-Bundesliga</h6>
            <h3>TSV Hartberg vs Salzburg-Away win</h3>
            <h6>-----</h6>
            <h3>-----</h3>
            <a href="https://www.sportybet.com/?shareCode=41C2636E&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Germany-Bundesliga</h6>
         <h3>Eintracht Frankfurt vs Darmstadt-over 1.5</h3>
         <h6>Kosovo-Superliga</h6>
         <h3>FC Ballkani vs KF Feronikeli-over 2.5</h3>
         <h6>Czech Republic- 1.Liga</h6>
         <h3>Slavia Prague vs FC Banik Ostrava-Home win</h3>
         <a href="https://www.sportybet.com/?shareCode=26FCFA05B&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>France-Ligue 1</h6>
        <h3>Monaco vs Strasbourg-1x</h3>
        <h6>Spain-Laliga</h6>
        <h3>Betis vs Atlectico Madrid-x2</h3>
        <h6>Bosnia & Herzegovina-Premijer Liga</h6>
        <h3>FK Borac Banja Luka FK Igman Konjic</h3>
        <a href="https://www.sportybet.com/?shareCode=AZ71D9BC&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Turkiye-Super Lig</h6>
        <h3>Istanbul BB vs Fatih Karagumruk Istanbul-over 1.5</h3>
        <h6>England-Premier League</h6>
        <h3>West Ham vs Chelsea-12</h3>
        <h6>Spain-Laliga</h6>
        <h3>Barcelona vs Cadiz-Home win</h3>
        <a href="https://www.sportybet.com/?shareCode=B304C966A&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Georgia-Erovnuli Liga</h6>
        <h3>FC Shukura Kobuleti vs FC Telavi-over 2.5</h3>
        <h6>Georgia-Erovnuli Liga</h6>
        <h3>FC Saburtalo Tbillisi vs FC Dila Gori-over 1.5</h3>
        <h6>----</h6>
        <h3>-------</h3>
        <a href="https://www.sportybet.com/?shareCode=0C2D6454&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Norway-Eliteserien</h6>
        <h3>FK Haungesund vs Bodoe/Glimt-Away Team to Win Either Half-Yes</h3>
        <h6>Russia-Premier League</h6>
        <h3>FK Spartak Moscow vs FK Zenit Saint Petersburg-over 1.5</h3>
        <h6>Russia-1 .Liga</h6>
        <h3>Rodina Moscow vs FC Alania Vladikavkaz-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=4CF8F9EF&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  