<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/2/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Germany-Bundesliga</h6>
        <h3>Borussia M'gladbach vs RB Leipzig-x2</h3>
        <h6>Germany-Bundesliga</h6>
        <h3>Borussia Dortmund vs Wolfsburg-Handicap 0:4</h3> 
        <h6>Germany-Bundesliga</h6>
        <h3>Union Berlin vs Hoffenheim-Home Team Over 0.5</h3>
        <h6>Spain-Laliga</h6>
        <h3>Barcelona vs Celta-Home win</h3>
        <h6>Sweden-Allsvenskan</h6>
        <h3>Degerfors IF vs Malmo-Away win</h3>
        <a href="https://www.sportybet.com/?shareCode=088BF1DEB&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>Norway-1st Division</h6>
            <h3>Ranheim vs Fredrikstad FK</h3>
            <h6>North Macedonia-2. MFL</h6>
            <h3>Bashkimi Kumanovo vs FK kamenica Sasa-Home win</h3> 
            <h6>Norway-3rd Division Group 6</h6>
            <h3>fk Mjoelner vs Sarpsborg 08 2-over 2.5</h3>
            <h6>Isreal-Premier League</h6>
            <h3>Hapoel Petah Tikva FC vs Hapoel Be'er Sheva fc-over 1.5</h3>
            <h6>Jordan-Jordan League</h6>
            <h3>Al Wehdat Jor vs Shabab Al Ordun-Home win</h3>
            <a href="https://www.sportybet.com/?shareCode=886739D3A&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6>Slovenia-PrvaLiga</h6>
        <h3>NK Celje vs Radomlje-Home win</h3>
        <h6>United Arab Emirates-Arabian Gulf League</h6>
        <h3>AL-Ain FC vs AJMAN Club-Home win</h3> 
        <h6>Malta-Premier League</h6>
        <h3>Hibernians FC Paola vs St.Lucia FC-Home win</h3>
        <h6>Scotland-League 1</h6>
        <h3>Kelty Hearts FC vs Falkirk FC-Over 1.5</h3>
        <h6>England-Premier League</h6>
        <h3>Man City vs Nottingham-Home Win</h3>
        <a href="https://www.sportybet.com/?shareCode=DBED2B6D0&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Turkiye-Super Lig</h6>
            <h3>Istanbul BB vs Galatasaray Istanbul-Away win</h3>
            <h6>Ukraine-Premier League</h6>
            <h3>FC Rukh Lviv vs Shakhtar D-Away win</h3> 
            <h6>Portugal-Liga Portugal</h6>
            <h3>Porto vs Gil Vicente Barcelos-Home Win</h3>
            <h6>England-Amateur Premier Leaue</h6>
            <h3>Brighton and Hove Albion vs Newcastle United FC-Over 2.5</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=2EB3AB82&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6>Belgium-Na</h6>
            <h3>Hoogstraten VV vs Raal La Louviere-Away win</h3>
            <h6>France-Ligue 1</h6>
            <h3>Brest vs Lyon-x2</h3> 
            <h6>Faroe Islands-1st DELID</h6>
            <h3>Vikingur Gotta ll VS b71 Sandoy</h3>
            <h6>Faroe Islands-1st DELID</h6>
            <h3>Tofta Itrottarfelag B68 ll VS skala IF-Away win</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=323B5DF&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  