<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/12/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>INT-Uefa Euro Qualifications</h6>
        <h3>Italy vs Ukraine-1</h3>
        <h6>INT-Uefa Euro Qualifications</h6>
        <h3>Sweden vs Austria-over 1.5</h3> 
        <h6>INT-WC Qual, Commebol</h6>
        <h3>Bolivia vs Argentina-2</h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=B367C43F&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <h6>INT-WC Qual, Commebol</h6>
            <h3>Ecuador vs Uruguay-Handicap 0:2</h3>
            <h6>iNT-WC Qual, Commebol</h6>
            <h3>Peru vs Brazil-2</h3> 
            <h6>INT=Friendly Games</h6>
            <h3>China vs Syria-over 1.5</h3>
            <h6>INT-Uefa Euro Qualifications</h6>
            <h3>Spain vs Cyprus-10 minutes Draw</h3>
            <h6>INT-Uefa Euro Qualifications</h6>
            <h3>Belgium vs Estonia-10 minutes Draw</h3>
            <a href="https://www.sportybet.com/?shareCode=FC3847DF&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
            <h6>Australia-Western Australia NPL</h6>
            <h3>Stirling Macedonia FC vs Perth SC-over 2.5</h3>
            <h6>INT-Friendly Games</h6>
            <h3>Singapore vs Chinese Taipei-over 1.5</h3> 
            <h6>Georgia-Cup</h6>
            <h3>FC Gareji Sagarejo vs FC Dila Gori-over 2.5</h3>
            <h6>England Amatuer-Professional Dev, League</h6>
            <h3>Sheffield United vs Cardiff City-over 2.5</h3>
            <a href="https://www.sportybet.com/?shareCode=516B725B5&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>England Amatuer-Professional Dev, League-over 2.5</h6>
            <h3>Barnsley FC vs Ipswich Town-over 2.5</h3>
            <h6>Sweden Amateur-U21 Allsvenskan</h6>
            <h3>Varberg Bols vs Landskrona Bols-over 2.5</h3> 
            <h6>Scotland-Reserve League</h6>
            <h3>Ayr United FC Reserves vs Livingston Resrves-over 2.5</h3>
            <h6>England Amatuer-Professional Dev, League</h6>
            <h3>Peterborough United Reserve vs Bristol City-over 2.5</h3>
            <h6>England Amatuer-Professional Dev, League</h6>
            <h3>Wigan Athletic vs Colchester United-over 2.5</h3>
            <a href="https://www.sportybet.com/?shareCode=44056EF01&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6>INT-Youth U23 AFC Championship Qualification</h6>
            <h3>Uzbekistan vs Iran-over 1.5</h3>
            <h6>Romania-Liga 3</h6>
            <h3>AFC Dunarea 2005 Calarasi vs ACS LPS Hd Clinceni-over 3.5</h3> 
            <h6>INT-Youth U21 Uefa European Championship Qualification</h6>
            <h3>Armenia vs Montenegro-12</h3>
            <h6>INT-Youth U21 Uefa European Championship Qualification</h6>
            <h3>North Macedonia vs Netherlands-over 2.5</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=751FB919&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  