<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/18/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Russia-Youth League</h6>
        <h3>Lokomotiv Moscow vs Samara Kryliya Sovetov-Home win</h3>
        <h6>United Arab Emirates-Arabian Gulf League</h6>
        <h3>Ittihad Kalba FC vs Sharjah FC-over 1.5</h3>
        <h6>Ukraine-Premier League</h6>
        <h3>LNZ Cherkasy vs FC Polissya Zhytomyr-12</h3>
        <a href="https://www.sportybet.com/?shareCode=5814749D&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Germany-Bundesliga</h6>
            <h3>Werder Bremen vs Bayern Munich-Away win</h3>
            <h6>England-Premier League</h6>
            <h3>Nottiingham vs Sheffield Utd-Home Team to Win Either Half-Yes</h3>
            <h6>-------</h6>
            <h3>-------</h3>
            <a href="https://www.sportybet.com/?shareCode=93C8B484&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Austria-2. Liga</h6>
         <h3>Grazer AK 1902 vs SK Sturm Graz II-over 2.5</h3>
         <h6>Azerbaijan-Premier League</h6>
         <h3>FK Kapaz vs Turan Tovuz-x2</h3>
         <h6>-------</h6>
         <h3>--------</h3>
         <a href="https://www.sportybet.com/?shareCode=C6F587BC&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Tajikistan-Vysshaya Liga</h6>
        <h3>Kuktosh Rudaki vs Ravshan Kulob-over 2.5</h3>
        <h6>Denmark-2nd Division</h6>
        <h3>AB Gladsaxe vs HIK Hellerup-over 2.5</h3>
        <h6>--------</h6>
        <h3>---------</h3>
        <a href="https://www.sportybet.com/?shareCode=C1806A21&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Denmark-2nd Division</h6>
        <h3>Middelfart Bk vs Esbjerg FB-Away win</h3>
        <h6>Denmark-Superliga</h6>
        <h3>Hvidovre IF vs Copenhagen-Handicap 3:0</h3>
        <h6>Thailand-Thai League 1</h6>
        <h3>BG Pathum United FC vs Prachuap FC</h3>
        <a href="https://www.sportybet.com/?shareCode=0F13CA24&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>France-Ligue 1</h6>
        <h3>Metz vs Marseille-Away win</h3>
        <h6>Belarus-Vysshaya Liga</h6>
        <h3>Naftan Novopolotsk vs Energetik BGU Minsk-over 1.5</h3>
        <h6>---------</h6>
        <h3>----------</h3>
        <a href="https://www.sportybet.com/?shareCode=FE1B6AAF&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Belgium-Pro League</h6>
        <h3>Oud-Heverlee Leuven vs Royal Antwerp FC-Away Team or Any Clean Sheet-No</h3>
        <h6></h6>
        <h3>------</h3>
        <h6></h6>
        <h3>------</h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  