<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/13/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Algeria-Ligue 1 Reserves</h6>
        <h3>MC Alger vs ES Ben Aknoun-1</h3>
        <h6>Algeria-Ligue 1 Reserves</h6>
        <h3>Js Saoura vs US Biskra-1x</h3> 
        <h6>Norway-3rd Division Group 3</h6>
        <h3>FK Vidar Madia-1</h3>
        <h6>Qatar-OFA Cup</h6>
        <h3>Al Kharaitiyat SC vs AL Waab-1</h3>
        <h6>Denmark-1, Division</h6>
        <h3>HB Koege vs Kolding IF-12</h3>
        <a href="https://www.sportybet.com/?shareCode=375E59A00&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
        <h6>Bhutan-Premier League</h6>
        <h3>Namlha FC vs Ugyen Academy-over 2.5</h3>
        <h6>Bulgaria-Bulgarian Cup</h6>
        <h3>Spartak Plovdiv vs FC Maritsa Plovdiv-over 1.5</h3> 
        <h6>Isreal-Liga Alef</h6>
        <h3>Maccabi Shaarim vs Maccabi Ironi Kiryat Malakhi-x2</h3>
        <h6>Spain-Copa de SM La Reina</h6>
        <h3>Zaragoza Cff vs Club Cacereno-2</h3>
        <h6>Spain-Copa de SM La Reina</h6>
        <h3>Cde Racing vs Granada CF-over 2.5</h3>
        <a href="https://www.sportybet.com/?shareCode=B454487E&c=ng">Bet on sportybet</a> 
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3> 
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Swiitzerland-Promotion League</h6>
            <h3>FC Luzern FC Breitenrain-over 2.5</h3>
            <h6>Scotland-Premier League 1, Women</h6>
            <h3>Hibernia LFC vs Aberdeen LFC-over 2.5</h3> 
            <h6>Scotland-Premier League 1, Women</h6>
            <h3>Partrick Thistle LFC vs Spartans Wfc-1</h3>
            <h6>Isreal-LIGAT al Women</h6>
            <h3>Kiryat Gat SC vs Hapoel Katamon Jerusalem-over 2.5</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=5E20C978&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6>bELGIUM-Nationale 1</h6>
            <h3>Raal La Louviere vs Kvv Thes Sport Tessenderio-over 2.5</h3>
            <h6>Belgium-Super League Women</h6>
            <h3>SV Zulte Waregem vs RSC Anderlecht-over 2.5</h3> 
            <h6>England Amateur-Premier League Cup</h6>
            <h3>Huddersfield Town vs Newcastle United FC-over 2.5</h3>
            <h6>Bosnia &Herzegovina-Premier Liga</h6>
            <h3>HSK Zrinjski Mostar vs NK Posusje-Home Team over 1.5</h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=306B3606&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  