<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/22/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>England Amatuer-Professional Development League</h6>
        <h3>Bournemouth Reserve vs Peterborough United Reserve-over 2.5</h3>
        <h6>England Amatuer-Professional Development League</h6>
        <h3>Ipswich Town vs Birmingham City-over 2.5</h3>
        <h6>Bulgaria-Second Prof.League</h6>
        <h3>FC Yantra Gabrovo vs FK Septemvri Sofia-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=43AE5FA9&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Slovakia-Slovensky Pohar</h6>
            <h3>TJD Pribelce vs RSC Hamsik Academy Banska Bystrica-over 2.5</h3>
            <h6>Mexico-U23 Liga MX,Apertura</h6>
            <h3>Chivas Guadalajara U23 vs Club Tijuana de Caliente U23-over 1.5</h3>
            <h6>Austria-2.Liga</h6>
            <h3>SV Horn vs FC Liefering-over 2.5</h3>
            <a href="https://www.sportybet.com/?shareCode=F6E698BB&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Denmark-1, Division</h6>
         <h3>FC Frederica vs AC Horsens-12</h3>
         <h6>Germany-3.Liga</h6>
         <h3>Hallescher FC vs MSV Duisburg-over 1.5</h3>
         <h6>England Amatuer-Professional Development League</h6>
         <h3>Bristol City vs Sheffield United-over 2.5</h3>
         <a href="https://www.sportybet.com/?shareCode=C82278AD&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>INT-Clubs Uefa Champions League</h6>
        <h3>RKS Rakow Czestochowa vs Copenhagen-Home Team over 0.5</h3>
        <h6>Scotland-League 1</h6>
        <h3>Falkirk FC vs Stirling Albion FC-Home Team over 0.5</h3>
        <h6>Sweden-Svenska Cup</h6>
        <h3>Orebro Syrianska IF vs Vasteras SK-Away win</h3>
        <a href="https://www.sportybet.com/?shareCode=F5FEA0D65&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Portugal-U23 Liga Revelacao</h6>
        <h3>Estoril Praia vs CD Mafra-Home Team Draw no bet</h3>
        <h6>Denmark-1.Division</h6>
        <h3>Naestved BK vs B93 Copenhagen-12</h3>
        <h6>Germany-3.Lyga</h6>
        <h3>Dynamo Dresden vs SV Waldhof Mannheim 07</h3>
        <a href="https://www.sportybet.com/?shareCode=8FDF8380&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>INT-Clubs AFC CUP</h6>
        <h3>Mohun Bagan SG vs Abahani Limited Dhaka-1x</h3>
        <h6>INT-Clubs AFC CUP</h6>
        <h3>Al Arabi Doha SC vs SK Agmk-over 1.5</h3>
        <h6>INT-Clubs Uefa Champions League</h6>
        <h3>Rangers vs PSV Eindhoven-12</h3>
        <a href="https://www.sportybet.com/?shareCode=4110906F4&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>INT-Clubs-Copa Libertadores</h6>
        <h3>Club Bolivar vs SC Internacional RS-over 1.5</h3>
        <h6>Northern Ireland-Premiership</h6>
        <h3>Crusaders FC vs Carrick Rangers-Home win</h3>
        <h6>Northern Ireland-Premiership</h6>
        <h3>Linfield FC vs Cliftonville FC-over 0.5</h3>
        <a href="https://www.sportybet.com/?shareCode=6BC76593&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  