<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/24/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>lInternational Clubs UEFA Europa Conference League</h6>
        <h3>FC Nordsjaelland vs FK Partizan Belgrade-Handicap 0:3</h3>
        <h6>International Clubs UEFA Europa League</h6>
        <h3>Hacken Gothenburg vs Aberdeen FC-Handicap 2:0</h3>
        <h6>Saudi Arabia Saudi Pro LeagueAl</h6>
        <h3>Riyadh vs Al-Ittihad Jeddah-over 2.5</h3>
        <a href="https://www.sportybet.com/?shareCode=13AC85825&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>International Clubs UEFA Europa League</h6>
            <h3>GNK Dinamo Zagreb vs Sparta Prague-Handicap 2:0</h3>
            <h6>International Clubs UEFA Europa Conference League</h6>
            <h3>FC Struga Trim Lum vs Breidablik Kopavogurh-12</h3>
            <h6>International Clubs UEFA Europa Conference League</h6>
            <h3>Alkmaar vs SK Brann</h3>
            <a href="https://www.sportybet.com/?shareCode=5A97BB8B&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Denmark 1. Division</h6>
         <h3>Hobro IK vs Aalborg BK-0ver 2</h3>
         <h6>International Clubs UEFA Europa League</h6>
         <h3>Ludogorets vs Ajax-Away Team Over 0.5</h3>
         <h6>International Clubs Club Friendly Games, </h6>
         <h3>WomenFC Barcelona W vs Juventus Turin W-Home win</h3>
         <a href="https://www.sportybet.com/?shareCode=765C416&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Israel National League</h6>
        <h3>Maccabi Kabilio Jaffa vs Hapoel Afula FC-1x</h3>
        <h6>Kuwait Premier League</h6>
        <h3>Al Kuwait SC vs Al Jahra-over 1.5</h3>
        <h6>International Clubs UEFA Europa Conference Leagu</h6>
        <h3>ACS Sepsi OSK Sfantu Gheorghe vs Bodoe/Glimt-Handicap 0:2</h3>
        <a href="https://www.sportybet.com/?shareCode=4729AD86&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Colombia Primera A, Clausura</h6>
        <h3>Boyaca Chico FC vs CD Atletico Huila-over 0.5</h3>
        <h6>Saudi Arabia Saudi Pro League</h6>
        <h3>Al-Raed FC vs Al-Hilal-Away win</h3>
        <h6>Iran Pro League</h6>
        <h3>Persepolis FC vs Zob Ahan Isfahan FC-Home win</h3>
        <a href="https://www.sportybet.com/?shareCode=012B55E5&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Norway Amateur U19 Leagues</h6>
        <h3>Follo U19 vs Moss U19</h3>
        <h6>International Clubs UEFA Europa Conference League</h6>
        <h3>FC Midtjylland vs Legia Warszawa-over 0.5</h3>
        <h6>International Clubs Club Friendly Games, Women</h6>
        <h3>Real Sociedad San Sebastian vs Sporting Cp-over 0.5</h3>
        <a href="https://www.sportybet.com/?shareCode=B251BF1F&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Mexico Liga de Expansion MX, Apertura</h6>
        <h3>CD Tapatio vs Tlaxcala FC-over 1.5</h3>
        <h6>Brazil Paulista, Women</h6>
        <h3>Red Bull Bragantino SP vs Sao Jose EC-1x</h3>
        <h6>International Clubs UEFA Europa League</h6>
        <h3>SK Slovan Bratislava vs Aris Limassol FC-Handicap 2:0</h3>
        <a href="https://www.sportybet.com/?shareCode=714EC011&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  