<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/11 /2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>INT-Uefa Euro Qualifications</h6>
        <h3 style="background-color: green;">Armenia vs Croatia-2</h3>
        <h6>England Amatuer-Professional Development League</h6>
        <h3 style="background-color: green;">Birmingham City vs Milwall-over 2.5</h3> 
        <h6>Russia-1 Liga</h6>
        <h3 style="background-color: green;">PFK Arsenal Tula vs FK Khimki-over 1.5</h3>
        <h6>Israel-National League</h6>
        <h3 style="background-color: green;">Maccabi Kabilio Jaffa vs Hapoel Ramat Gan Givatayim FC-over 1.5</h3>
        <h6>INT-Club Friendly Games</h6>
        <h3 style="background-color: green;">Egypt vs Russia-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=AADBF52A&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Norway-3rd Division Group 4</h6>
            <h3 style="background-color: red;">Fredrikstad FK 2 vs Start 2-over 2.5</h3>
            <h6>Norway-3rd Division Group 4</h6>
            <h3 style="background-color: red;">Mjoendalen 2 vs Sandefjord Fotball-2</h3>
            <h6>Germany Amateur-Oberliga Rheland Pfalz</h6>
            <h3 style="background-color: green;">FC Rot-Weiss Koblenz vs FC Karbach-over 2.5</h3>
            <h6>INT-Youth U21 Uefa European Championship Qualifications</h6>
            <h3 style="background-color: red;">Belgium vs Kazakhstan-over 2.5</h3>
            <a href="https://www.sportybet.com/?shareCode=666CCD99&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>England Amatuer-Premier League Cup</h6>
         <h3 style="background-color: green;">Reading FC vs Blackburn Rovers-over 2.5</h3>
         <h6>Norway Amatuer-U19 League</6>
         <h3 style="background-color: green;">Hamarkamerayene U19 vs KFUM U19-over 3.5</h3>
         <h6>INT-Youth-U21 Premier League International Cup</h6>
         <h3 style="background-color: green;">Nottingham Forest FC vs Jong PSV Eindhoven-x2</h3>
         <h6>Poland-II Liga</h6>
         <h3 style="background-color: green;">Stomil Olsztyn vs KKS 1925 Kalisz-12</h3>
         <a href="https://www.sportybet.com/?shareCode=28AD37DD&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Israel-National League</h6>
            <h3 style="background-color: green;">Hapoel Ironi Kiyat Shmona FC vs Bnei Yehuda Tel Aviv FC-1X</h3>
            <h6>Jordan-Jordan 1st Division</h6>
            <h3 style="background-color: green;">Al Yarmouk vs Amman FC-12</h3> 
            <h6>iNT-Friendly Games</h6>
            <h3 style="background-color: green;">Vietnam vs Palestine-1</h3>
            <h6>INT-Youth U21 Uefa European Championship Qualifications</h6>
            <h3 style="background-color: green;">Slovenia vs France-over 1.5</h3>
            <h6>INT-Uefa Euro Qualifications</h6>
            <h3 style="background-color: green;">Portugal vs Luxembourg-over 2.5</h3>
            <a href="https://www.sportybet.com/?shareCode=687CB3D9&c=ng">Bet on Sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6>INT-Africa Cup of Nations Qualifications</h6>
            <h3 style="background-color: green;">Guinea-Bissau vs Sierra Leone-1x</h3>
            <h6>Italy-Serie C, Group C</h6>
            <h3 style="background-color: green;">Benevento Calcio vs Virtus Francavilla Calcio-1</h3> 
            <h6>Sweden-Ettan Sodra</h6>
            <h3 style="background-color: green;">FC Trollhattan vs IK Oddevoid-over 2.5</h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=17695258&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  