<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">7/25/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>INT-Clubs-Uefa Champions League</h6>
        <h3>HJK Helsinki vs Molde FK-x2</h3>
        <h6>INT-Clubs-Friendly Games</h6>
        <h3>VVV Venlo vs TOP Oss-12</h3>
        <h6>INT-Clubs-Friendly Games</h6>
        <h3>Bristol City vs Exeter City-1x</h3>
        <a href="https://www.sportybet.com/?shareCode=104B361E&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>China-FA Cup</h6>
          <h3>Shanghai Shenhua-Over1.5</h3>
          <h6>INT-Clubs-Uefa Champions League</h6>
          <h3>Breidablik Kopavogur-Over1.5</h3>
          <h6>Russia-Russian Cup</h6>
          <h3>FK Zenit Saint Petersburg vs RFK Akhmat Grozny-Home win</h3>
          <a href="https://www.sportybet.com/?shareCode=540A482D&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
            <h6>Scotland-League Cup</h6>
         <h3>Cove Rangers FC vs Livingston FC</h3>
         <h6>Scotland-League Cup</h6>
         <h3>Falkirk FC vs Dundeen United-Home win</h3>
         <h6>INT-Club-Friendly Games</h6>
         <h3>Porto vs Wolves-1x</h3>
         <a href="https://www.sportybet.com/?shareCode=8A22C5CE&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  