<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/16/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Iran-Pro League</h6>
        <h3>Tractor Sport Club vs Persepolis FC-13</h3>
        <h6>Estonia-Esilliga</h6>
        <h3>FCl Levadia Tallinn vs Vlimsi JK</h3>
        <h6>---------</h6>
        <h3>---------</h3>
        <a href="https://www.sportybet.com/?shareCode=9EE8ADC0F&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>INT-Clubs Uefa Super Cup</h6>
            <h3>Man City vs Sevilla-Home Win</h3>
            <h6>Czech Republic-Cup</h6>
            <h3>SFK Vrchovina vs SK Lisen Brno-over2.5</h3>
            <h6>Hungary-NB II</h6>
            <h3>Budafoki Mte vs Bvsc-Zuglo-12</h3>
            <a href="https://www.sportybet.com/?shareCode=98DCB776&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Sweden-Svenska Cup</h6>
         <h3>Dalkurd FF vs AIK-Away win</h3>
         <h6>Iceland-1.delid</h6>
         <h3>UMF Selfoss vs UMF Njardvik-over2.5</h3>
         <h6>Iceland-1.delid</h6>
         <h3>UMF Grindavik vs Leiknir Reykjavik-over 1.5</h3>
         <a href="https://www.sportybet.com/?shareCode=1CF2D345&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Iceland-Cup</h6>
        <h3>Vikingur Reykjavik vs KR Reykjavik-over 2.5</h3>
        <h6>Saudi Arabia-Division 1</h6>
        <h3>AL Batin vs AL Ain-over1.5</h3>
        <h6>Englad Amateur-Southern Football League, Premier Division South</h6>
        <h3>Gosport Borough vs Basingstoke Town FC</h3>
        <a href="https://www.sportybet.com/?shareCode=B34960BCD&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Romania-Romania Cup</h6>
        <h3>CS Afumati vs Cs Concordia Chianjna-over 1.5</h3>
        <h6>Romania-Romania Cup</h6>
        <h3>ACS Muscelul Campulung Elite vs Csc 1599 Selimbar-Away win</h3>
        <h6>Portugal-U23 Liga Revelacao</h6>
        <h3>Portimonense vs CD Mafra-12</h3>
        <a href="https://www.sportybet.com/?shareCode=CAB75FF5&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
    
    
        <h6>Scotland-Challenge Cup</h6>
        <h3>Kilmarnock FC B vs Dumbarton-over 1.5</h3>
        <h6>INT-Clubs Uefa Europa Conference League</h6>
        <h3>Flora Tallinn vs FC Farul Constanta-over1.5</h3>
        <h6>England-Efl Cup</h6>
        <h3>Queens Park Rangers vs Norwich</h3>
        <a href="https://www.sportybet.com/?shareCode=4BAC9F42&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Norway-2nd Division Group 1</h6>
        <h3>Kjelsaas vs Lyn 1896 FK-X2</h3>
        <h6>Sweden-Division 2, Sodra Gotaland</h6>
        <h3>Hassleholms IF vs FC Rosengaard 1917-over1.5</h3>
        <h6>Isreal-League Cup, National</h6>
        <h3>Sektzia Ness Ziona FC vs Hapoel Kfar Saba FC-12</h3>
        <a href="https://www.sportybet.com/?shareCode=CD6CDC4A&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  