<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/6/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Denmark-DBU Pokalen</h6>
        <h3>Hillerod Fodbold vs Lyngby BK-x2</h3>
        <h6>INT-Clubs Uefa Champions League Women</h6>
        <h3>Brondby IF vs Celtic LFC-Away to Qualify</h3> 
        <h6>Czech Rupublic-Cup</h6>
        <h3>FA Povltavska vs FK Viktoria Zizkov-Away win</h3>
        <h6>Bulgaria-Bulgarian Cup</h6>
        <h3>Svetkavitsa 1922 Targoviste vs Litex Lovech-Away win</h3>
        <h6>Czech Republink-Cup</h6>
        <h3>FK Loko Vitavin vs Dukla Prague-Aawy win</h3>
        <a href="https://www.sportybet.com/?shareCode=DFED69B7&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Lithuania-1 Lyga</h6>
            <h3>FC Neptunas Klaipeda vs FK Panevezys B-over 2.5</h3>
            <h6>Germany Amatuer-Bayernliga North</h6>
            <h3>Wurzburger FV vs Jahn Regensburg II-over 2.5</h3>
            <h6>Denmark-Dbu Pokelen</h6>
            <h3>AB Taarnby vs Nykoebing FC-over 2.5</h3>
            <h6>INT-Clubs Uefa Champions League Women</h6>
            <h3>Eintracht Frankfurt vs 1.FC Slovacko Ulherske Hradiste-UN 5.5</h3>
            <a href="https://www.sportybet.com/?shareCode=8B9A87DE&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>INT-Youth-U23 AFC Championship Qualifications</h6>
         <h3>Saudi Arabia vs Mongolia-over UN 5.5</h3>
         <h6>INT-Clubs Uefa Champions League Women</6>
         <h3>HB KOEGE W vs Kuopion Palloseura-Away to Qualify</h3>
         <h6>INT-Clubs-Clubs Friendly Games</h6>
         <h3>SV Bergisch Gladbach 09 vs Cologne-Un 6.5</h3>
         <a href="https://www.sportybet.com/?shareCode=C6199D09&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6>Wales-Cymru Championship North</h6>
            <h3>Gresford Athletic vs Guilsfield FC-Over 1.5</h3>
            <h6>Isreal-Isreal Cup</h6>
            <h3>Hapoel Azur vs MS Bnei Jaffa Ortodoxim-1x</h3> 
            <h6>Ireland-Premier Division</h6>
            <h3>UCD vs Derry City FC-Over 2.5</h3>
            <h6>England Amateur-National League South</h6>
            <h3>Havant & Waterlooville vs Eastbourne Borough-1x</h3>
            <h6>INT-Clubs Uefa Champions League Women</h6>
            <h3>Gintra Universitetas Siauliai vs Cardiff City Lfc-un 6.5</h3>
            <a href="https://www.sportybet.com/?shareCode=809F5949&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  