<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/14/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Germany-DFB Pokal</h6>
        <h3>Vfl 1899 Osnabruck vs Cologne-12</h3>
        <h6>Malaysia-Super League</h6>
        <h3>Negeri Sembilan vs Selangor FC-Away win</h3>
        <h6>Saudi Arabia-Saudi Pro League</h6>
        <h3>AL Raed FC vs Al Ittihad Jeddah-over2.5</h3>
        <a href="https://www.sportybet.com/?shareCode=4B687AA7&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Georgia-Erovnuli Liga</h6>
            <h3>FC Samtredia vs FC Torpedo Kutaisi-over1.5</h3>
            <h6>England-Premier League</h6>
            <h3>Man Utd vs Wolves-Handicap 0:3</h3>
            <h6>Germany-DFB Pokal</h6>
            <h3>FC 08 Homburg-Saar vs Darmstadt-Handicap 3:0</h3>
            <a href="https://www.sportybet.com/?shareCode=D580637C&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>
    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Crotia-Prva NL</h6>
         <h3>NK Zrinski Jurjevac vs NK Jarun Zagred-over1.5</h3>
         <h6>Ukraine-Premier League</h6>
         <h3>Shakhtar D vs FC Oleksandriya-Home win</h3>
         <h6>Portugal-Liga Portugal</h6>
         <h3>Moreirense FC vs Porto-over1.5</h3>
         <a href="https://www.sportybet.com/?shareCode=63A9E3D7&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Italy-Coppa Italia</h6>
        <h3>Torino vs Feralpisalo-over2.5</h3>
        <h6>Russia-1.Liga</h6>
        <h3>FC Alania Vladikavkaz vs Torpedo Moscow-over1.5</h3>
        <h6>-------</h6>
        <h3>--------</h3>
        <a href="https://www.sportybet.com/?shareCode=A5248E20&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Ital-Coppa Italia</h6>
        <h3>Sampdoria Genoa vs FC Sudtirol Bolzano-1x</h3>
        <h6>Turkiye-Super Lig</h6>
        <h3>Alanyaspor vs Instanbul BB-Over1.5</h3>
        <h6>Sweden-Allswenskan</h6>
        <h3>Mjallby AIF vs Malmo-Away Team To Win to Nil-No</h3>
        <a href="https://www.sportybet.com/?shareCode=D6BD0A3E&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
    
    
        <h6>Poland-I Liga</h6>
        <h3>Polonia Warszawa vs Miedz Legnica-over1.5</h3>
        <h6>Azerbaijan-Premier League</h6>
        <h3>Neftchi Baku PFC vs Sabail FK-Home win</h3>
        <h6>Norway-2nd Division Group 1</h6>
        <h3>Vard Haugesund vs Valerenga IF 2</h3>
        <a href="https://www.sportybet.com/?shareCode=48F4141D&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Denmark-Superliga</h6>
        <h3>Viborg FF vs Hvidovre IF-Handicap 0:3</h3>
        <h6>Saudi Arabia-Division 1</h6>
        <h3>Al-Orobah vs Al-Taraji Club-1x</h3>
        <h6>Germany-DFB Pokal</h6>
        <h3>VfB Lubeck vs Hoffenheim-Away win</h3>
        <a href="https://www.sportybet.com/?shareCode=CAD383FA&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  