<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">12/8/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        
        <h6>Portugal-Liga Portugal</h6>
        <h3>FC Vizela vs Braga-x2</h3>
        <h6>France-Ligue 1</h6>
        <h3>Montpellier vs RC Lens-x2</h3>
        <h6>Turkiye-Super Lig</h6>
        <h3>Galatasaray Instanbul vs Adana Demirspor-1x</h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=5691E559B&c=ng">Bet on sportybet</a>
     </fieldset>
     </div>

     <div class="BET">
    
        <fieldset>
            <footer class="GRADE">GRADE 2</footer>
            <h6>Belgium-U21 Pro League</h6>
            <h3>KMSK Deinze vs FCV Dender EH U21-Over 2.5</h3>
            <h6>United Arab Emirates-Arabian Gulf League</h6>
            <h3>AL Wahda FC vs Al-Wasi FC-X2</h3>
            <h6>United Arab Emirates-Arabian Gulf League</h6>
            <h3>Shabab Al-Ahli Dubai FC vs Emirates Club-Home Win</h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
           
            <a href="https://www.sportybet.com/?shareCode=F2059DE&c=ng">Bet on sportybet</a>
        </Fieldset>
    </div>

    <div class="ADD">
        <fieldset>
            <footer class="GRADE">GRADE 3</footer>
          <h6></h6>
          <h3></h3>
          <h6></h6>
          <h3></h3> 
          <h6></h6>
          <h3></h3>
          <h6></h6>
          <h3></h3>
          <h6></h6>
          <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=62E39158&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3> 
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <h6></h6>
            <h3></h3>
            <a href="https://www.sportybet.com/?shareCode=77223D73&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>

        <h6></h6> 
        <h3></h3>
        <h6></h6>
        <h3></h3> 
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <h6></h6>
        <h3></h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
           
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
           
     </fieldset>
     </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

     </body>

     </html>  