<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/2/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Germany-Bundesliga</h6>
        <h3>Werder Bremen vs Mainz-over 0.5</h3>
        <h6>England-Premier League</h6>
        <h3>Chealsea vs Nottingham-Home win</h3> 
        <h6>Spain-Laliga</h6>
        <h3>Real Madrid vs Getefe-over 2.5</h3>
        <h6>Germany-Bundesliga</h6>
        <h3>Borussia M'gladbach vs Bayern Munich-Handicap 4:0</h3>
        <h6>France-Ligue 1</h6>
        <h3>Monaco vs Lens-1x</h3>
        <a href="https://www.sportybet.com/?shareCode=95B9AFE4&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Spain-Laliga</h6>
            <h3>Alaves vs Valencia-Over 0.5</h3>
            <h6>Italy-Seria A</h6>
            <h3>Napoli vs Lazio-1x</h3>
            <h6>Wales-Cymru Premier</h6>
            <h3>Bala Town FC vs Pen-y-Bont FC-1x</h3>
            <h6>Turkiye-Super Lig</h6>
            <h3>Gaziantep vs Galatasaray Istanbul-Away Team to Win Either Half-YES</h3>
            <h6>Switzerland-Super League</h6>
            <h3>FC St.Gallen 1879 vs Lausanne-Sport-Handicap 0:3</h3>
            <a href="https://www.sportybet.com/?shareCode=6EC5F7A96&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Latvia-Virsliga</h6>
         <h3>FK Auda Riga vs SK Super Nova-over 2.5</h3>
         <h6>Azerbaijan-Premier League</6>
         <h3>Gabala FK vs Zira FK-Home Team Win to Nill-No</h3>
         <h6>Belgium-Challenger Pro League</h6>
         <h3>K Beerschot vs Royal Francs Borains-Home win</h3>
         <a href="https://www.sportybet.com/?shareCode=9025F9B5&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Bulgaria-Parva Liga</h6>
        <h3>PFK Beroe Stara Zagora vs PFC CSKA Sofia-Home Team or over 2.5-Yes</h3>
        <h6>Czech Republic-MSFL</h6>
        <h3>CSK Uhersky Brod vs FC Hlucin-over 2.5</h3>
        <h6>Estonia-Premium Liiga</h6>
        <h3>FC Kuressaare vs Tartu Jk Tammeka-1x</h3>
        <h6>Georgia-Erovnuli Liga</h6>
        <h3>FC Dilla Gori vs FC Samtredia-over 1.5</h3>
        <h6>Germany-2ND Bundesliga</h6>
        <h3>FC Kaiserslautern vs FC Nuremberg-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=306931A0&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Northern Ireland-Premiership</h6>
        <h3>Coleraine vs Linfield FC-over 1.5</h3>
        <h6>Northern Ireland-Premiership</h6>
        <h3>Crusaders FC vs Loughgall FC-Away Team over 0.5</h3>
        <h6>Northern Ireland-Premiership</h6>
        <h3>Glenavon FC vs Ballymena United-1x</h3>
        <h6>Iceland-2.delid</h6>
        <h3>Volsungur vs Throttur Vogum-over2.5</h3>
        <h6>Ireland-First Division</h6>
        <h3>Longford Town FC vs Galway United FC-Away win</h3>
        <a href="https://www.sportybet.com/?shareCode=24C37916&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Albania-Kategoria Superlore</h6>
        <h3>KF Teuta vs KF Tirana-x2</h3>
        <h6>Sweden-Allsvenskan</h6>
        <h3>IFK varnamo vs IF Elsborg-x2</h3>
        <h6>Kosovo-First League</h6>
        <h3>KF Ulpiana vs KF kika-Home win</h3>
        <h6>Scotland-League 1</h6>
        <h3>EdinBurgh City FC vs Falkirk FC-over 2.5</h3>
        <a href="https://www.sportybet.com/?shareCode=ECD4B212&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Slovakia-Superliga</h6>
        <h3>AS Trencin vs DAC 1904 Dunajska Streda-over 1.5</h3>
        <h6>Isreal-Premier League</h6>
        <h3>Maccabi Bney Reine vs Hapoel Be'er Sheva FC-Away win</h3>
        <h6>----</h6>
        <h3>-----</h3>
        <a href="https://www.sportybet.com/?shareCode=7A2FFF3C&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  