<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">8/30/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Uzbekistan-Superliga</h6>
        <h3>PFK Metallurg Bekabad vs PFC Sogdianax2</h3>
        <h6>England Amateur-Professional Development League</h6>
        <h3>Hull City vs Milwall-Away Team over 1.5</h3> 
        <h6>Czech Republic-Cup</h6>
        <h3>FK Fotbal Trinec vs SK Sigma Olomouc-Away win</h3>
        <h6>Faroe Islands-1st Delid</h6>
        <h3>EB/Streymur II vs HB Torshavn-Away win</h3>
        <h6>United Arab Emirates-League Cup</h6>
        <h3>AL Bataeh UAE vs Al-Ain FC-12</h3>
        <a href="https://www.sportybet.com/?shareCode=703E063&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Romania-Romania Cup</h6>
            <h3>CS Corvinul 1921 Hunedoara vs AFK Csikszereda Miercurea Ciuc-1X</h3>
            <h6>Zambia-Super League</h6>
            <h3>FC Muza vs Zanaco FC-over 0.5</h3>
            <h6>Lithunia-1 Lyga</h6>
            <h3>FK Transinvest vs FA Siauliai B-Home win</h3>
            <h6>England-EFL Cup</h6>
            <h3>Sheffield Utd vs Lincoln City-1x</h3>
            <h6>Englad-EFL Cup</h6>
            <h3>Nottingham vs Burnley-over 1.5</h3>
            <a href="https://www.sportybet.com/?shareCode=DB806F93&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6>Slovenia-2.Liga</h6>
         <h3>llirija Ljubljana vs NK Rudar Velenje-1x</h3>
         <h6>INR-Clubs Uefa Champions League</6>
         <h3>PSV Eindhoven vs Rangers-Home win</h3>
         <h6>South Africa-Premiership</h6>
         <h3>Polokwane City vs Mamelodi Sundowns-Away win</h3>
         <a href="https://www.sportybet.com/?shareCode=BC6A7887F&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>England-EFL Cup</h6>
        <h3>Chelsea vs AFC Wimbledon-handicap0:4</h3>
        <h6>Italy-Serie B</h6>
        <h3>Us Catanzaro vs Spezia Calcio-handicap0:2</h3>
        <h6>Italy-Serie B</h6>
        <h3>Ternana Calcio vs US Cremonese-handicap0:2</h3>
        <h6>Croatia-Croatian Cup</h6>
        <h3>HNK Primorac Biograd vs NK Radnik Krizevci-over1.5</h3>
        <h6>Germany Amateur-Regionalliga Southwest</h6>
        <h3>Tus Koblenz 1911 vs TSG Hoffenheim II</h3>
        <a href="https://www.sportybet.com/?shareCode=9A57E18D&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Germany Amateur-Oberliga BW</h6>
        <h3>TSG Backnang vs SG Sonnenhof Grossaspach-Away win</h3>
        <h6>Iceland-Besta Delid</h6>
        <h3>FH Hafnarfjordur vs KA Akureyri-Away over 0.5</h3>
        <h6>Iceland-U19 League</h6>
        <h3>Breidablik/AUGN/Smari u19 vs Stjarnan/KFG/Alftanes u19-over 3.5</h3>
        <h6>Montenegro-Cup Crne Gore</h6>
        <h3>FK Buducnost vs FK Podgorica-Home win</h3>
        <h6>Montenegro-Cup Crne Gore</h6>
        <h3>OFK Petrovac vs OFK Grbalj-over 1.5</h3>
        <a href="https://www.sportybet.com/?shareCode=B1AC02E3&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Belgium-Nationale 1</h6>
        <h3>Raal La Louviere vs Oud-Heverlee Leuven-over 1.5</h3>
        <h6>Iceland-U19 League</h6>
        <h3>FH/IH U19 vs Fylkir/Ellidi u19-over 3.5</h3>
        <h6>United Arab Emirates-League Cup</h6>
        <h3>Al Wahda FC vs Emirates Club-Home win</h3>
        <h6>Kuwait-Premier League</h6>
        <h3>Al Jahra vs Qadsia S-X2C</h3>
        <a href="https://www.sportybet.com/?shareCode=416814F4&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>Slovakia-Slovensky Pohar</h6>
        <h3>OSK Besenova vs MFK Stara Lubovna-over 2.5</h3>
        <h6>Slovakia-3. Liga West</h6>
        <h3>FK Belusa vs Raca Bratislava-over 2.5</h3>
        <h6>----</h6>
        <h3>-----</h3>
        <a href="https://www.sportybet.com/?shareCode=9B36FAE6&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  