<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<style>
        body{
            background: url(craft.jpg);
            margin: 0px;
            padding: 0px; 
            font-size: 15px;
            height: 100vh;
        }
    </style>

    <div class="look1">
        
        <footer class="dash">DASHBOARD</footer>
        </style>
    </div>
    <footer class="drill">9/3/2023</footer>
    
    <footer class="stage">Welcome</footer>
    <div class="never">
        <h4>Betting tips-Today</h4>
    </div>


    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 1</footer>
        <h6>Englad premier League</h6>
        <h3 style="background-color: green;">Arsenal vs Manchester united-1X</h3>
        <h6>England-Premier League</h6>
        <h3 style="background-color: green;">Crystal Palace vs Wolverhampton Wanderers-12</h3> 
        <h6>Spain-Laliga</h6>
        <h3 style="background-color: green;">Osasuna vs Barcelona-over 2.5</h3>
        <h6>Germany-Bundesliga</h6>
        <h3 style="background-color: green;">Union Berlin vs RB Leipzig-over 1.5</h3>
        <h6>France-Ligue 1</h6>
        <h3 style="background-color: green;">Nice vs Strasboourg-1x</h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="BET">
        <Fieldset class="SECTOR2">
            <footer class="GRADE">GRADE 2</footer>
            <h6>Spain-Laliga</h6>
            <h3 style="background-color: green;">Girona vs Las palmas-Under 3.5</h3>
            <h6>Italy-Seria A</h6>
            <h3 style="background-color: green;">Inter vs Florentina-1x</h3>
            <h6>Turkiye-1st Lig</h6>
            <h3 style="background-color: green;">Altay vs Goztepe-12</h3>
            <h6>Eredivisie-Netherlands</h6>
            <h3 style="background-color: green;">FC Utrecht vs Feyenoord</h3>
            <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
            
        </Fieldset>
    </div>

    <div class="ADD">
        <Fieldset>
            <footer class="GRADE">GRADE 3</footer>
         <h6> Turkiye-Super Lig </h6>
         <h3 style="background-color: green;">Besiktas vs Sivasspor-Home Win</h3>
         <h6>Portugal-Primeira Liga</6>
         <h3 style="background-color: green;">FC Porto vs Arouca-Handicap0:3</h3>
         <h6>Belgium- Pro League</h6>
         <h3>Gent vs Club Brugge-Home win</h3>
         <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
        </Fieldset>
      </div>

      <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 4</footer>
        <h6>Belgium-Pro League</h6>
        <h3 style="background-color: green;">Union St. Gilloise vs Royal Antwerp-0ver 2.5</h3>
        <h6>Czech Republic</h6>
        <h3 style="background-color: green;">Slavia Prague vs Karvina-over 1.5</h3>
        <h6>Sweden-Allsvenskan</h6>
        <h3 style="background-color: green;">Degerfors vs BK Haecken-1x</h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 5</footer>
        <h6>Eliteserien-Norway</h6>
        <h3 style="background-color: green;">Brann vs Sarpsborg-over 0.5</h3>
        <h6>HNL-Croatia</h6>
        <h3 style="background-color: green;">Rijeka vs NK Varazdin-over 2   q2.5</h3>
        <h6>Ekstraklasa-Poland</h6>
        <h3 style="background-color: green;">Slask Wroclaw vs Jaglellonia Bialystok-1x</h3>
        <h6>Albania-Kategoria SUPERIORE</h6>
        <h3 style="background-color:green ;">Kukesi vs KF Egnatia-over2.5</h3>
        <h6>Belarus-Premier League</h6>
        <h3 style="background-color: green;">BATE Borisov vs Dinamo Brest-1x</h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 6</footer>
        <h6>Albania-Kategoria Superlore</h6>
        <h3 style="background-color: red;">Partizani vs Laci-x2</h3>
        <h6>Sweden-Allsvenskan</h6>
        <h3 style="background-color: green;">Hammarby vs Aik-over 2.5</h3>
        <h6>Eliteserien-Norway</h6>
        <h3 style="background-color: green;">Tromsoe vs Rosenborg-over 2.5</h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

    <div class="RESET">
        <fieldset>
            <footer class="GRADE">GRADE 7</footer>
        <h6>U19 Sweden-Allsvenskan</h6>
        <h3 style="background-color: green;">Vasteras U19 vs Helsingborgs U19-x2</h3>
        <h6>Ukraine-Premier League</h6>
        <h3 style="background-color: green;">SC Dnipro-1 vs Cherkasy-Home win</h3>
        <h6>----</h6>
        <h3>-----</h3>
        <a href="https://www.sportybet.com/?shareCode=&c=ng">Bet on sportybet</a>
    </fieldset>
    </div>

      <footer>
        <a href="https://t.me/+_ZGbNTxjpnI2OGI0">Join our telegram channel</a>
      </footer>
    
   

</body>

</html>  