<!DOCTYPE html>
<html lang="en">

 <head>

   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Live Soccer Tips</title>
   <link rel="stylesheet" href="../css/style.css">
</head>

<body>
   <header>
      <div class="logo">Live soccertipsss</div>
      <div class="hamburger">
         <div class="line"></div>
         <div class="line"></div>
         <div class="line"></div>
      </div>
      <nav class="nav-bar">
         <ul>
            <li>
               <!--Check the css for this styling-->
               <a href="/Create" class="active">Create account</a>
            </li>
            <li>
               <a href="/sign">Sign in</a>
            </li>
            <li>
               <a href="/About">About us</a>
            </li>
            <li>
               <a href="/Contact">Contact us</a>
            </li>
            <li>
               <a href="/Terms">Terms and condtions</a>
            </li>
         </ul>

      </nav>
   </header>
   <!--this is a javascript code for dragging the nav bar for mobile view-->

   <script>
      hamburger = document.querySelector(".hamburger");
      hamburger.onclick = function () {
         navBar = document.querySelector(".nav-bar");
         navBar.classList.toggle("active");
      }
   </script>

   </nav>
   </header>

   <div id="Flow1">
      <!--Check the css for this i stated all the html styling-->

      <footer class="flow">Welcome to Live Soccer Tipsss</footer>
      <h5>Number one innovating betting platform set in a stunning way to cater to all your betting needs.</h5>
      <h5>Our platform is the perfect place to experience the thrill of betting on your favorite events.</h5>
   </div>


   <section id="Thebox1">
      <h3>24 hours customers support</h3>
      <a href="tel:+2348115456273">Call us at +2348115456273</a>
      <br><br>
      <a href="email:Saviourisaiah95@gmail.com">Livesoccertipsss@gmail.com</a>
   </section>



   <fieldset id="remove">

      <div class="thing">

         <h2>Todays free tips</h2>
         <p>Celtic vs Athletico Madrid-x2</p>
         <p style="background-color: red;">FC Midtjylland vs Famalicao-Over 1.5</p>
         <p style="background-color: green;">Kitchee vs Bangkok United FC-Away Team Over 0.5</p>
      </fieldset>
      </div>
      <fieldset class="moron">
      <div id="simple">

         <h4>At Livesoccertipsss, we are passionate with making football punters across the globe make profit with our
            free football betting tips provided daily! Our team of expert analysts and tipsters work effortlessly to
            ensure.
            <br><br>
            Football betting tips provided are safe to stake on. Free betting tips on Livesoccertipsss include OVER 1.5,
            Double Chance, Potential Risk (High Odds).
            <br><br>
            Upcoming Tips and Free Tipsters Tips no wonder Livesoccertipsss is
            considered as the best free soccer prediction site in the world.
            <br><br>
             Our simple and unique interface makes it easy.
            <br><br>
            For users to navigate through our website. We also provide match previews, reports and blog about everything
            football betting to enable our users get regular updates with the happenings in the world of football via
            our social media pages.</h4>
      </div>
      </div>
      </div>
   </fieldset>
   <footer class="Renew">

      <h2>Headlines on our next game</h2>
      <br>
      <p>Follow our @social media handles</p>
      <h4>Instagram @Livesoccertipsss</h4>
      <br>
      <h4>Twitter @Livesoccertipsss</h4>
      <br>
      <a href="https://t.me/+MQbhZhvKTnFiMGJk">Join our telegram channel</a>
   </footer>
   

</body>

</html>