<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>livesoccertipsss</title>
   <link rel="stylesheet" href="style.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
<body>

   <header>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand fs-5 fw-bold" href="#" style="color: white;">livesoccertipsss</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-5 fw-bold text-white" aria-current="page" href="/Create">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fw-bold text-white" href="/sign">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fw-bold text-white" href="/About">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fw-bold text-white" href="/Contact">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fw-bold text-white" href="/Terms">Terms & Conditio</a>
        </li>
    </div>
  </div>
</nav>
       <section class="section-padding mt-5 my-4">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md col-lg-6">
            <div>
              <h4 class="display-4 fw-bold"><span style=" color: whitesmoke;">livesoccertipsss</span> the future to sports predictions</h3>
              <p class="lead pt-4 p-2 text-light">Number one innovating betting platform set<br> 
                in a stunning way to cater to all your betting needs.<br>
                Our platform is the perfect place to experience<br>
                The Thril of sports betting on your favorite event
               </p>
               <button class="gold  btn btn-primary fw-bold px-5 my-3 d-inline-block">Read more</button>
            </div>
            </div>
            <div class="col-12 col-md col-lg-6">
            <div class="darak">

            </div>

          </div>

        </div> 
        <style>
          .darak{
            background: url(../public/maintain-removebg-preview.png) !important;
          }
        </style>

       </section>
       <style>
        .navbar-link:hover a{
          color: black !important;
        }
       </style>

       <style>
        header{
         
          background: linear-gradient( #7380a0, #9ac4c6);
        }
       </style>

       <style>
        .navbar-brand:hover{
      color: dodgerblue !;
      border: none;
        }
       </style>
       <style>
        .navbar-link:hover li{
         
         color: black;
         display: inline;
        }
       </style>
      

      <style>

      </style>


       <style>
        .gold:hover{
          background-color: darksalmon;
          color: black;
        }
       </style>
   </header>


   <script src="index.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>