<!DOCTYPE html>
<html lang="en">
   <%-include('layouts/header.ejs') %>
<body>

   <%- include('layouts/navbar.ejs') %>
      <!--Check the css for flow1 to make any changes-->
            <div id="Flow1"> 
      
            <h2>Welcome to Live Soccer Tipsss</h2>
            <h6>Number one innovating betting platform set in a stunning way to cater to all your betting needs.</h6>
            <h6>Our platform is the perfect place to experience the thrill of betting on your favorite events.</h6>
            </div>
            <!--This is the customer service check css-->
      
            <section id="Thebox1">
            <h3>24 hours customers support</h3>
            <a href="tel:+2348115456273">Call us at +2348115456273</a>
            <br><br>
            <a href="email:Saviourisaiah95@gmail.com">Livesoccertipsss@gmail.com</a>
            </section>
         
      
      
            <fieldset id="remove">
            
            <div class="thing">
      
               <h2>Todays free tips</h2>
               <p>Arsenal vs Bunley -1x</p>
               <p>Liverpool vs chelsea-Gg</p>
               <p>Mancity vs Real madrid-1</p>
            </fieldset>
            </div>
      
            <div id="simple">
      
            <h4>At Live soccer tipsss, we are passionate with making football punters across the globe make profit with our free football betting tips provided daily! Our team of expert analysts and tipsters work effortlessly to ensure football betting tips provided are safe to stake on. Free betting tips on Livesoccertipss include OVER 1.5, Double Chance, Potential Risk (High Odds), Upcoming Tips and Free Tipsters Tips no wonder Livesoccertips is considered as the best free soccer prediction site in the world. Our simple and unique interface makes it easy for users to navigate through our website. We also provide match previews, reports and blog about everything football betting to enable our users get regular updates with the happenings in the world of football via our social media pages.<h4>
         </div>
            </div>
            </div>
         <footer class="Renew">
      
            <h2>Headlines on our next game</h2>
            <p>Follow our @social media handles</p> 
            <h4>Instagram @Livesoccertipsss</h4>
            <h4>Twitter @Livesoccertipsss</h4>
         </footer>
         <style>
            #Flow1{
               color: white;
               font-size: 25px;
               margin: 0px;
               padding: 0px;
               
            }
         </style>
         <style>
            #simple{
               font-size: 15px;
               margin: 0px;
               padding: 0px;
            
            }
         </style>
         <style>
         
         </style>
      
         <style>
            .thing{
               margin: 0px;
               padding: 0px;
               
            }
         </style>
      
         <style>
            #Thebox1{
               margin: 0px;
               padding: 0px;
      
            }
         </style>
         <style>
            .Renew{
               margin: 0px;
               padding: 0px;
            }
         </style>
      
</body>
</html>