<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Soccer Tips</title>
</head>
<body>
    <!-- <style>
        body {
        
                margin: 0px;
                padding: 0px;
                background: url(newone.jpg);
                background-size: cover;
                background-position: center;
                font-family: sans-serif;
                background:white;
                
                
            } 
        
    </style> -->
    <h1>Copy and paste the code on your sign in page</h1>
    <fieldset>
    <h3>222-223-2023</h3>
    </fieldset>
   
</body>
</html>