<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Live Soccer Tips</title>
</head>
<body>
    <div class="pay">
    <h1>Live soccertipsss</h1>
    </div>
    <Fieldset>
        <h2>GATEWAY PAYMENT</h2>
        <a href="https://paystack.com/pay/livesoccertips2">PAY HERE</a>
    </Fieldset>

</body>
</html>
<style>
    body{
        background: #2196f3;
        margin: 0 10px;
        margin: 0px;
        padding: 0px;
    }
</style>

