<!DOCTYPE html>
<html lang="en">
    <%-include('layouts/header.ejs') %>
<body>
    <%- include('layouts/navbar.ejs') %>
    <div class="pay">
    <h1>Live soccertipsss</h1>
    </div>
    <Fieldset>
        <h2>GATEWAY PAYMENT</h2>
        <a href="https://paystack.com/pay/livesoccertips2">PAY HERE</a>
    </Fieldset>

</body>
</html>
<style>
    body{
        background: #2196f3;
        margin: 0 10px;
    }
</style>

<style>
    .pay{
        font-size: 30px;
        text-align: center;
        color: white;
        font-weight: 500;

    }
</style>
     <style>
        fieldset{
            background-color: white;
        }
     </style>
     <style>
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
     </style>