<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>Live Soccer tips</title>
    </head>
    <body>
       
        <style>
            body{
                margin: 0px;
                padding: 0px;
                font-family: sans-serif;
                background:dodgerblue;
                
                
            }
        </style>
                <div class="Signin">
                    <img src="lightsup.jpg" class="foot">
                    <h1>Sign in here</h1>
                    <form action="/auth/enter" method="POST" >
                        <p>Email</p>
                     <input  id="Email" type="email" name="email" require/> 
                       <p>Password</p>
                      <input type="password" name="password" placeholder="password" id="password" required/>
                      <img src="eye-close.png" id="eyeicon">
                      <input id="phone" type="tel" required pattern="200-200-2023" placeholder="onetime otp code">
                        <input type="submit"/>
                      </a>
                        <a href="/create">Don't have an account?</a>
                        <br>
                        <a href="/">Back to homepage</a>
                    </form>
                </div>
                

       <script src="../js/index.js"></script>
    
    </body>
</html>