<!DOCTYPE html>
<html>
    <%-include('layouts/header.ejs') %>
<body>
    <%- include('layouts/navbar.ejs') %>

    
<h2>Join for free and take advantages of our special offer.</h2>
<p>Subcribe and get predications daily for one month</p>
<p>1000 naira ONLY for one month winnings</p>
 Join and thank us later
 <br><br>
 <a href="index.html">Return to home page</a>


</body>
</html>