<!DOCTYPE html>
<html>
     
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/style.css">
   <title>Live Soccer Tips</title>
</head>
<body>
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Live Soccer Tips</title>
   <link rel="stylesheet" href="../css/style.css">
</head>

<body  style="background-image:url('craft.jpg')">

    
<h2>Join for free and take advantages of our special offer.</h2>
<p>Subcribe and get predications daily for one month</p>
<p>1000 naira ONLY for one month winnings</p>
 Join and thank us later
 <br><br>
 <a href="/">Return to home page</a>


 <style>
    body{
       margin: 0px;
       padding: 0px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       line-height: 1.6;
       font-size: 17px;
       height: 100vh;
    }
 </style>


</body>
</html>