* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}
/*This is where the index.html styling started*/
/* This is the header styling */
header{
  background: linear-gradient(240deg,rgb(76, 124, 173), rgba(207, 179, 179, 0.858));
}
