* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}
/*This is where the index.html styling started*/
