* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  background: url(stadium.jpg);
  font-weight: 500;
  font-size: medium;
}
header,
.Renew {
  width: 100%;
  height: 80px;
  background: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}
.nav-bar ul li a:hover {
  color: #11101b;
  background: white;
}
.nav-bar ul li a.active {
  color: #11101b;
  background: white;
}
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101b;
    transition: 0.5s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

#Thebox1 {
  text-align: center;
  text-decoration: navajowhite;
  touch-action: manipulation;
  background: white;
  border-radius: 30%;
}

#Flow1 {
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
}

#dum1 {
  background-color: white;
  box-shadow: white 10px;
  font-weight: 500;
  text-align: center;
  font-style: unset;
  width: 40%;
  margin: 400px auto;
}
#wrapper1 {
  box-sizing: content-box;
  font-size: 5px;
  text-align: center;
  background: url(newone.jpg);
}

#dark1 {
  background: url(newone.jpg);
  font-weight: 500;
  background-color: beige;
  box-shadow: royalblue;
}
#Ramdom1 {
  box-sizing: content-box;
  background-color: aliceblue;
  font-weight: 500;
}

.Ramdom1 {
  text-align: center;
}

.tapin1 {
  border-radius: 29%;
  flex-direction: column;
  font-weight: 500;
  box-sizing: none;
  text-shadow: #162938;
  animation: blinking 1.5s infinite;
}

.thing {
  text-align: center;
  font-size: 25px;
  color: white;
}
#remove {
  border-radius: 29%;
  background-color: dodgerblue;
}
#simple {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: black;
  font-size: 16px;
}
.Renew {
  background-color: white;
}

/* media queries for the body */
@media only screen and (max-width: 600px) {
  #Flow1,
  #simple,
  .Renew,
  #predict1,
  #smart1 {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    padding: 0 20px;
    color: black;
  }

  .Renew {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }

  #simple {
    font-size: 10px;
    line-height: 2;
  }

  .tapin1,
  #remove {
    border-radius: 0;
    margin: 5px 10px;
  }
  #Thebox {
    border-radius: 0;
  margin: 5px 10px;
  }


  #smart1 {
    margin-top: 10px;
    border-radius: 0;
  }
  #predict1 {
    border-radius: 0;
  }
}
